/* Vertical rhythm presets =========================================== */
/* Breakpoints ======================================================== */
/* line 3, src/scss/2_layout/header.scss */
#inner_header_wrapper {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* line 9, src/scss/2_layout/header.scss */
#header {
  max-width: 1024px;
  margin: 1% auto;
}

@media screen and (max-width: 766px) {
  /* line 9, src/scss/2_layout/header.scss */
  #header {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 766px) {
  /* line 18, src/scss/2_layout/header.scss */
  #headerHero {
    padding: .5rem 0 .5rem 10rem;
    min-height: 54px;
    margin: 1rem 0 0;
    background-color: #002e62;
    position: relative;
  }
  /* line 27, src/scss/2_layout/header.scss */
  #headerHero.no-menu .burger-toggle {
    display: none !important;
  }
  /* line 32, src/scss/2_layout/header.scss */
  #headerHero.no-menu.no-search {
    display: none;
  }
  /* line 37, src/scss/2_layout/header.scss */
  #headerHero .region-search input[type='text'],
  #headerHero .region-search input[type='search'] {
    width: 98%;
    height: 35px;
    padding: 0 1rem;
    max-width: 100%;
    border: 0;
    margin: 0;
    float: none;
    border-radius: 0;
    background: #fff;
  }
  /* line 50, src/scss/2_layout/header.scss */
  #headerHero .region-search .form-submit {
    height: 34px;
    width: 65px;
    position: absolute;
    top: -1px;
    right: 10px;
    background: #fff url('../../images/search-icon.png?16faec7eae6') no-repeat 30px center;
    text-indent: -999rem;
  }
}

/* line 63, src/scss/2_layout/header.scss */
.top_left {
  float: left;
  width: 50%;
}

/* line 68, src/scss/2_layout/header.scss */
.top_right {
  float: right;
  width: 50%;
}

/* line 72, src/scss/2_layout/header.scss */
.top_right .region-search {
  float: right;
  margin: 1% 0;
}

@media screen and (max-width: 766px) {
  /* line 72, src/scss/2_layout/header.scss */
  .top_right .region-search {
    width: 100%;
    padding: 0;
  }
}

/* line 82, src/scss/2_layout/header.scss */
.top_right .region-user-menu {
  overflow: hidden;
  width: 100%;
}

/* line 86, src/scss/2_layout/header.scss */
.top_right .region-user-menu ul.menu {
  float: right;
}

@media screen and (max-width: 766px) {
  /* line 86, src/scss/2_layout/header.scss */
  .top_right .region-user-menu ul.menu {
    float: none;
  }
}

/* line 95, src/scss/2_layout/header.scss */
.top_right ul.menu li a.active {
  color: #6cdcff;
}

@media screen and (max-width: 766px) {
  /* line 100, src/scss/2_layout/header.scss */
  .top_left,
  .top_right,
  .search_block,
  .region-user-menu {
    width: 100%;
  }
}

/* line 109, src/scss/2_layout/header.scss */
#logo {
  float: left;
  margin: .8rem 1rem .8rem 0;
}

@media screen and (max-width: 766px) {
  /* line 109, src/scss/2_layout/header.scss */
  #logo {
    text-align: center;
    width: 100%;
    margin: .8rem 0 0;
  }
}

/* line 119, src/scss/2_layout/header.scss */
#logo img {
  display: block;
}

@media screen and (max-width: 766px) {
  /* line 119, src/scss/2_layout/header.scss */
  #logo img {
    text-align: center;
    display: inline-block;
  }
}

/* line 129, src/scss/2_layout/header.scss */
#site-title a,
#site-description {
  font-weight: normal;
}

/* line 134, src/scss/2_layout/header.scss */
#site-title,
#site-description {
  float: left;
}

@media screen and (max-width: 766px) {
  /* line 134, src/scss/2_layout/header.scss */
  #site-title,
  #site-description {
    margin: 0;
    line-height: 1.62em;
  }
}

/* line 144, src/scss/2_layout/header.scss */
#site-title {
  font-size: 3rem;
  margin: 1rem 0 0;
  font-weight: bold;
}

@media screen and (max-width: 766px) {
  /* line 144, src/scss/2_layout/header.scss */
  #site-title {
    padding: 0;
    width: 100%;
    display: inline-block;
  }
}

/* line 155, src/scss/2_layout/header.scss */
#site-title a {
  float: left;
}

@media screen and (max-width: 766px) {
  /* line 155, src/scss/2_layout/header.scss */
  #site-title a {
    width: 100%;
    text-align: center;
  }
}

/* line 165, src/scss/2_layout/header.scss */
#site-description {
  font-size: 1.6rem;
  margin: 0 0 2.4rem;
  margin: .4rem 0 0;
  float: left;
  clear: both;
  line-height: 100%;
  font-style: italic;
  color: #16a085;
}

@media screen and (max-width: 766px) {
  /* line 165, src/scss/2_layout/header.scss */
  #site-description {
    padding-top: 1.8rem;
    padding-bottom: .5rem;
    width: 100%;
    text-align: center;
  }
}

/*# sourceMappingURL=header.css.map */