/*
 * @file
 * Helper partial to outline the order layout files should be loaded - used for reference & in the style guide.
 */
/* Vertical rhythm presets =========================================== */
/* Breakpoints ======================================================== */
/* line 15, src/scss/2_layout/layouts.scss */
#container {
  clear: both;
  overflow: hidden;
}

/* line 20, src/scss/2_layout/layouts.scss */
.container-wrap {
  max-width: 1024px;
  margin: 0 auto 1rem;
  padding: 0;
  overflow: hidden;
}

/* line 27, src/scss/2_layout/layouts.scss */
.content-sidebar-wrap {
  float: left;
  width: 100%;
}

@media screen and (max-width: 961px) {
  /* line 27, src/scss/2_layout/layouts.scss */
  .content-sidebar-wrap {
    float: none;
    width: 100% !important;
  }
}

@media screen and (max-width: 766px) {
  /* line 27, src/scss/2_layout/layouts.scss */
  .content-sidebar-wrap {
    width: auto;
  }
}

/* line 40, src/scss/2_layout/layouts.scss */
.content-sidebar-wrap #content {
  display: inline;
  margin-bottom: 1rem;
  float: right;
  width: 100%;
}

@media screen and (max-width: 961px) {
  /* line 40, src/scss/2_layout/layouts.scss */
  .content-sidebar-wrap #content {
    margin: 0;
  }
}

@media screen and (max-width: 766px) {
  /* line 40, src/scss/2_layout/layouts.scss */
  .content-sidebar-wrap #content {
    float: left;
    width: auto;
  }
}

/* line 57, src/scss/2_layout/layouts.scss */
#sidebar-first {
  color: #373737;
  float: left;
}

@media screen and (max-width: 961px) {
  /* line 57, src/scss/2_layout/layouts.scss */
  #sidebar-first {
    clear: both;
    float: none;
    width: 100% !important;
    padding: 0 1.5%;
  }
}

@media screen and (max-width: 766px) {
  /* line 57, src/scss/2_layout/layouts.scss */
  #sidebar-first {
    width: auto;
    clear: both;
  }
}

@media screen and (max-width: 766px) {
  /* line 73, src/scss/2_layout/layouts.scss */
  #sidebar-first .block {
    float: none !important;
    width: auto !important;
    margin-left: 0;
  }
}

/* line 82, src/scss/2_layout/layouts.scss */
#sidebar-second {
  color: #373737;
  float: right;
}

@media screen and (max-width: 961px) {
  /* line 82, src/scss/2_layout/layouts.scss */
  #sidebar-second {
    float: none;
    width: 100% !important;
    padding: 0 1.5%;
  }
}

@media screen and (max-width: 766px) {
  /* line 82, src/scss/2_layout/layouts.scss */
  #sidebar-second {
    width: auto;
  }
}

@media screen and (max-width: 766px) {
  /* line 96, src/scss/2_layout/layouts.scss */
  #sidebar-second .block {
    float: none !important;
    width: auto !important;
    margin-left: 0;
  }
}

/* line 106, src/scss/2_layout/layouts.scss */
aside .block .content {
  padding: 0 1rem;
}

/* line 111, src/scss/2_layout/layouts.scss */
aside #user-login-form input.form-text {
  width: 90%;
}

/* line 115, src/scss/2_layout/layouts.scss */
aside #user-login-form .form-actions {
  padding-top: 0;
}

/* line 121, src/scss/2_layout/layouts.scss */
body {
  /* 3 columns */
  /* 2 columns: sidebar-first */
  /* 2 columns: sidebar-second */
}

/* line 126, src/scss/2_layout/layouts.scss */
body.two-sidebars .content-sidebar-wrap {
  width: 80%;
}

/* line 130, src/scss/2_layout/layouts.scss */
body.two-sidebars #content {
  width: 75%;
}

/* line 134, src/scss/2_layout/layouts.scss */
body.two-sidebars #sidebar-first {
  width: 24%;
}

/* line 138, src/scss/2_layout/layouts.scss */
body.two-sidebars #sidebar-second {
  width: 19%;
}

/* line 146, src/scss/2_layout/layouts.scss */
body.sidebar-first .content-sidebar-wrap {
  width: 100%;
}

/* line 150, src/scss/2_layout/layouts.scss */
body.sidebar-first #content {
  width: 80%;
}

/* line 154, src/scss/2_layout/layouts.scss */
body.sidebar-first #sidebar-first {
  width: 19%;
}

/* line 162, src/scss/2_layout/layouts.scss */
body.sidebar-second .content-sidebar-wrap {
  width: 75%;
}

/* line 166, src/scss/2_layout/layouts.scss */
body.sidebar-second #content {
  width: 100%;
}

/* line 170, src/scss/2_layout/layouts.scss */
body.sidebar-second #sidebar-second {
  width: 22%;
}

/* line 176, src/scss/2_layout/layouts.scss */
#head,
#content,
#sidebar-second,
#sidebar-first {
  margin-top: 1rem;
}

@media screen and (max-width: 961px) {
  /* line 183, src/scss/2_layout/layouts.scss */
  #content {
    float: none;
    width: 100% !important;
  }
}

@media screen and (max-width: 961px) {
  /* line 190, src/scss/2_layout/layouts.scss */
  #head,
  #foot {
    padding: 0 1.5%;
  }
}

@media screen and (max-width: 766px) {
  /* line 197, src/scss/2_layout/layouts.scss */
  .front .content-sidebar-wrap {
    margin: 0;
  }
}

/*# sourceMappingURL=layouts.css.map */