// Form defaults
//
// These are the default base styles applied to HTML form elements.
//
// Component classes can override these styles, but if no class applies a style
// to an HTML form element, these styles will be the ones displayed.
//
// Weight: -3
//
// Style guide: base.forms

// Fieldsets
//
// The `<fieldset>` element groups a set of form fields, optionally under a
// common name given by the `<legend>` element.
//
// Markup: kss-templates/forms-fieldset.twig
//
// Style guide: base.forms.fieldset
fieldset {
  background: #fff;
  border: 1px solid #ccc;
  margin-top: 1rem;
  margin-bottom: 3.2rem;
  padding: 0 0 1rem;
  position: relative;
  top: 12px;
  border-radius: 4px;

  &.collapsed {
    background: transparent;
    border-radius: 0;

    legend {
      border-radius: 4px;
    }
  }

  legend {
    background: #dbdbdb;
    border: solid #ccc;
    border-width: 1px 1px 0;
    display: block;
    height: 2em;
    left: -1px;
    line-height: 2;
    padding: 0;
    position: absolute;
    text-indent: 1rem;
    text-shadow: 0 1px 0 #fff;
    top: -12px;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .fieldset-wrapper {
    padding: 0 1rem;
  }

  .fieldset-description {
    margin-top: .5rem;
    margin-bottom: 1em;
    line-height: 1.4;
    font-style: italic;
  }
}

input:not(input[type='radio']) {
  border-radius: 0;
  margin: .2rem 0;
  padding: .4rem;
  -webkit-appearance: none;
}

input,
textarea {
  font-size: .929em;
}

textarea {
  line-height: 1.5;

  &.form-textarea {
    @media screen and (max-width: $mob) {
      width: 100%;
    }
  }
}

textarea.form-textarea,
select.form-select {
  padding: .4rem;
}

input.form-text,
select.form-select {
  @media screen and (max-width: $mob) {
    width: 93%;
  }
}

input.form-text,
textarea.form-textarea,
select.form-select {
  border: 1px solid #ccc;
}

.password-suggestions ul li {
  margin-left: 1.2em;
}

button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  background-image: linear-gradient(to bottom, #fff 0%, #e3e3e3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#e3e3e3');
  border: 1px solid #dbdbdb;
  border-radius: 0;
  box-shadow: inset 0 1px 0 0 white;
  color: #777;
  text-shadow: 0 1px 0 white;
  position: relative;
  font-weight: bold;
  padding: .5rem 1em .6rem;

  &:hover {
    background-image: linear-gradient(to bottom, #dbdbdb 0%, #f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb', endColorstr='#f2f2f2');
    box-shadow: inset 0 1px 0 0 white;
    cursor: pointer;
  }
}
