// Links
//
// Hyperlinks are used to allow the user to navigate to other resources or to
// download a resource.
//
// The order of link states are based on Eric Meyer's article:
// <http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states>
//
// Weight: -8
//
// Markup: kss-templates/links-a.twig
//
// :visited - A link that has already been visited.
// :hover   - A link that is being hovered over.
// :focus   - A link that has been given keyboard focus.
// :active  - A link that is being actively clicked.
//
// Style guide: base.links
$link: #0e6bb3 !default;
$link-underline: $charcoal !default;
$link-active: #0e6bb3 !default;
$link-hover: $link !default;
$link-hover-background: rgba(75%, 75%, 75%, .25) !default;
$link-visited: #0d63a5 !default;
$link-visited-underline: #707070 !default;

a:not(.toolbar-icon) {
  color: $link;
  text-decoration: none;

  #content &,
  .content &,
  #footer & {
    border-bottom: 1px solid $link-underline;
    margin: 0 -1px;
    padding: 0 1px;
  }

  &:hover:not(.facet-item--link) {
    #content &,
    .content &,
    #footer & {
      border-bottom: 2px solid $link-underline;
      margin-bottom: 0;
    }
  }

  &:focus:not(.facet-item--link) {
    color: $white;
    background: $link;

    #content &,
    .content &,
    #footer & {
      border-bottom: 0;
      outline: 2px solid $link;
      outline-offset: 0;
    }
  }

  &:visited {
    border-bottom-color: $link-visited-underline;
  }
}

.skip-link,
.skip-link:visited {
  opacity: .75;
  transition: opacity .3s 0s;
  color: #fff;
  background-color: #000;
  outline: none;
  text-align: center;

  &::after {
    content: ' ';
    display: inline-block;
    width: 1.5em;
    height: .75em;
    background: transparent resolve('arrow-down.png') no-repeat 50% 50%;
    background-size: 1.6rem auto;
  }
}

.skip-link:focus {
  @include responsive-typo-map($normal-text);
  opacity: 1;
  display: block;
  line-height: 1.5;
  padding: .9rem 3.5rem;
  color: #fff;
  text-decoration: underline;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  background-color: $charcoal;
}
