/*
 * @file
 * Resets and creates defaults for root html elements.
 */

// Root
//
// The HTML root component contains the doctype, HTML element, `<head>>` element and `<body>>` element. It also contains
// the CSS for those elements and the `*` universal selector. There no example included of the component in the style
// guide, otherwise, the style guide will have multiple HTML and BODY elements. There is however an example
// `base-root.twig` file included in the kss-templates for completeness.
// The root component sets some sensible defaults - for all elements use the saner border-box model, then set a sensible
// value for the the root html element font-size, the purpose of which is to make rem calculations easier. Finally set
// the base font family on the `<body>` tag in order that there are some sensible defaults for all elements that are not
// otherwise overridden.
//
// markup: kss-templates/base-root.twig
//
// weight: -10
//
// Style guide: base.root
* html .clear {
  height: 1%;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100% * $base-font-size / 16px;
}

$body-background-colour: #fff !default;

body {
  @include responsive-typo-map($normal-text);
  margin: 0;
  font-family: $base-font-family;
  color: $text;
  background-color: $body-background-colour;
  //line-height: 160%;
}
