@import '../init';
// Root
//
// The HTML root component contains the doctype, HTML element, HEAD element and
// BODY element. It also contains the CSS for those elements and the `*`
// universal selector.
//
// markup: kss-templates/base-root.twig
//
// weight: 2
//
// Style guide: base.root

// Use the saner border-box model for all elements.
* html .clear {
  height: 1%;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100% * $base-font-size / 16px;
}

body {
  @include adjust-font-size-to($p-font-size);
  font-family: $base-font-family;
  color: $text;
  line-height: 160%;
}
