// Body copy
//
// The default `font-size` and `line-height` properties are applied to the
// `<body>` element and all paragraphs. In addition, `<p>` (paragraphs) receive
// a bottom margin to create aesthetic space between each one.
//
// Markup: kss-templates/grouping-p.twig
//
// Weight: -2
//
// Style guide: base.grouping.p
p {
  margin-bottom: rhythm(3);
  color: $base-txt-color;
}

// Text-level semantics
//
// The elements in this section give semantics to inline text.
//
// Weight: 1
//
// Style guide: base.text

// Code
//
// The `<code>` element represents a fragment of computer code.
//
// Markup: kss-templates/text-code.twig
//
// Style guide: base.text.code
code {
  background: rgb(250, 250, 250);
  text-shadow: 1px 1px #fff;
  border: 1px solid #bbb;
  display: block;
  padding: 7px;
  margin: 5px 0;
  border-radius: 7px;
}

// Marked text
//
// The `<mark>` element highlights a run of text due to its relevance in another
// context.
//
// Markup: kss-templates/text-mark.twig
//
// Style guide: base.text.mark
mark {
  background-color: #fdfc9b;
  font-style: italic;
  font-weight: bold;
}

// Deleted text
//
// The `<del>` element indicates blocks of text that have been deleted.
//
// Markup: kss-templates/text-del.twig
//
// Style guide: base.text.del
del {
  text-decoration: line-through;
}

// Abbreviation / Acroynym
//
// The <acronym> tag is not supported in HTML5. Use the <abbr> tag instead.
// The `<abbr>` element makes the meanings of abbreviations and acronyms visible
// on hover. An abbreviation and an acronym are both shortened versions of something else.
// Both are often represented as a series of letters. Marking up abbreviations can give
// useful information to browsers, translation systems and search-engines.
//
// Markup: kss-templates/text-abbr.twig
//
// Style guide: base.text.abbr
abbr,
acronym {
  border-bottom: 1px dotted #999;
  cursor: help;
}

// Cite
//
// The `<cite>` element represents a reference to a creative work.
//
// Markup: kss-templates/text-cite.twig
//
// Style guide: base.text.cite

// Italics
//
// The `<em>` element or the `<i>` element is used for emphasizing a snippet of
// text with italics.
//
// Feel free to use `<i>` element in HTML5. `<i>` is meant to convey voice,
// technical terms, etc.
//
// Markup: kss-templates/text-i.twig
//
// Weight: -1
//
// Style guide: base.text.i
cite,
em,
i {
  font-style: italic;
}

// Inserted text
//
// The `<ins>` element indicates additions to the document.
//
// Markup: kss-templates/text-ins.twig
//
// Style guide: base.text.ins
ins {
  background-color: #fdfc9b;
  text-decoration: none;
}

// Pre-formatted text
//
// The `<pre>` element defines preformatted text. Text in a <pre> element is displayed
// in a fixed-width font (usually Courier), and it preserves both spaces and line breaks.
//
// Markup: kss-templates/text-ins.twig
//
// Style guide: base.text.ins
pre {
  background: #d8d8d8;
  text-shadow: 1px 1px #fff;
  border: 1px solid #bbb;
  padding: 7px;
  margin: 5px 0;
  border-radius: 7px;
}

// Bold
//
// The `<strong>` element or the `<b>` element is for emphasizing a snippet of
// text with a heavier font-weight.
//
// Feel free to use `<b>` in HTML5. `<b>` is meant to highlight words or phrases
// without conveying additional importance.
//
// Markup: kss-templates/text-b.twig
//
// Weight: -1
//
// Style guide: base.text.b
b,
strong {
  font-weight: bold;
}

// Superscript / Subscript
//
// The `<sup>` element represents a superscript and the `<sub>` element
// represents a subscript.
//
// Markup: kss-templates/text-sub.twig
//
// Style guide: base.text.sub
sup,
sub {
  @include adjust-font-size-to(10px);
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}
