/*
 * @file
 * Helper partial to outline the order component files should be loaded - used for reference & in the style guide.
 */

// Components / modules
//
// Components / modules are the reusable, modular parts of any design. They are the callouts, the sidebar sections,
// the product lists and so on.
//
// Weight: -6
//
// Style guide: components

// Navigation components
//
// Weight: -10
//
// Style guide: components.navigation
@import 'navigation/main-nav';
@import 'navigation/breadcrumb';
@import 'navigation/pager';
@import 'navigation/toc';

// Block components
//
// Weight: -8
//
// Style guide: components.block
@import 'block/block';
@import 'block/facets';

// Form components
//
// Weight: -6
//
// Style guide: components.form
@import 'form/forms-generic';
@import 'form/search-form';
@import 'form/webform';

// Content components
//
// Weight: -4
//
// Style guide: components.content
@import 'content/lists';
@import 'content/links';
@import 'content/icons-messages';

// Content components
//
// Weight: -7
//
// Style guide: components.field
@import 'field/file-link';


// Standalone component libraries - TO REMOVE
//
// Weight: 100
//
// Style guide: components.standalone
//@import 'field/field-tags';
//@import 'content/profile';
//@import 'misc/forum';
//@import 'block/comments';
