/*
 * @file
 * Provides the styling for creating an accordion component.
 */
/* line 16, src/scss/3_components/content/accordions.scss */
.accordion {
  margin: 1em 0 1.5em;
  border-bottom: 1px solid #0e6bb3;
}

@media (min-width: 961px) {
  /* line 16, src/scss/3_components/content/accordions.scss */
  .accordion {
    padding: 0;
  }
}

/* line 24, src/scss/3_components/content/accordions.scss */
.accordion .accordion-section-title {
  position: relative;
  padding: 1.6rem;
  margin: 0;
  border-top: 1px solid #0e6bb3;
}

/* line 35, src/scss/3_components/content/accordions.scss */
.js .accordion .accordion-section-title {
  padding: 0;
}

/* line 39, src/scss/3_components/content/accordions.scss */
.accordion .accordion-section-title button {
  position: relative;
  border: 0;
  background: none;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  text-align: left;
}

/* line 52, src/scss/3_components/content/accordions.scss */
.js .accordion .accordion-section-title button {
  padding: 1.6rem 6rem 1.6rem .8rem;
}

@media (min-width: 766px) {
  /* line 52, src/scss/3_components/content/accordions.scss */
  .js .accordion .accordion-section-title button {
    padding: 1.8rem 6rem 1.8rem 1.8rem;
  }
}

/* line 60, src/scss/3_components/content/accordions.scss */
.accordion .accordion-section-title button::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: .2rem;
  top: calc(50% - 2.2rem);
  background: #e8e7e7 url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2025%2015%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23333333%3Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3B%7D%20%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M12.5%200L0%2012l3%203%209.5-10L22%2015l3-3L12.5%200z%22%2F%3E%3C%2Fsvg%3E%0A") no-repeat scroll center center/24px auto;
  border: 1px solid transparent;
  font-size: .1px;
  line-height: 4.4rem;
  width: 4.4rem;
  height: 4.4rem;
  padding: 0;
  margin: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

/* line 79, src/scss/3_components/content/accordions.scss */
.accordion .accordion-section-title button:focus {
  outline: 0;
}

/* line 82, src/scss/3_components/content/accordions.scss */
.accordion .accordion-section-title button:focus::after {
  outline: 3px solid #333;
  outline-offset: -3px;
  border-color: #333;
}

/* line 89, src/scss/3_components/content/accordions.scss */
.accordion .accordion-section-title button[aria-expanded='true']::after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  background-color: #96cdf7;
  border-color: #0e6bb3;
}

/* line 95, src/scss/3_components/content/accordions.scss */
.accordion .accordion-section-title button:hover::after {
  background: #0e6bb3 url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2025%2015%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23ffffff%3Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3B%7D%20%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M12.5%200L0%2012l3%203%209.5-10L22%2015l3-3L12.5%200z%22%2F%3E%3C%2Fsvg%3E%0A") no-repeat scroll center center/24px auto;
  outline-color: #0e6bb3;
  border-color: #0e6bb3;
}

/* line 102, src/scss/3_components/content/accordions.scss */
.accordion .accordion-section-title a {
  display: inline-block;
  max-width: calc(100% - 6rem);
  margin: .3rem 0 .7rem;
}

/* line 108, src/scss/3_components/content/accordions.scss */
.accordion .accordion-section-title a + button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 4.4rem;
  height: 100%;
}

/* line 121, src/scss/3_components/content/accordions.scss */
.no-js .accordion .accordion-section {
  margin: 0 1.6rem 1em;
  padding: 0;
}

@media (min-width: 766px) {
  /* line 121, src/scss/3_components/content/accordions.scss */
  .no-js .accordion .accordion-section {
    margin: 0 1.6rem 1em;
  }
}

/* line 131, src/scss/3_components/content/accordions.scss */
.js .accordion .accordion-section {
  visibility: collapse;
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity 1.5s ease-out;
  transition: opacity 1.5s ease-out;
  margin: 0;
  padding: 0;
}

/* line 140, src/scss/3_components/content/accordions.scss */
.js .accordion .accordion-section.expanded {
  visibility: visible;
  height: auto;
  overflow: visible;
  opacity: 1;
  margin: 0 1.6rem 1em;
}

@media (min-width: 766px) {
  /* line 140, src/scss/3_components/content/accordions.scss */
  .js .accordion .accordion-section.expanded {
    margin: 0 1.8rem 1em;
  }
}

/* line 153, src/scss/3_components/content/accordions.scss */
.accordion .accordion-section > * {
  margin-top: 0;
}

/* line 158, src/scss/3_components/content/accordions.scss */
.accordion .accordion-section::after {
  content: ' ';
  display: block;
  width: 100%;
  clear: both;
}

/* line 167, src/scss/3_components/content/accordions.scss */
.accordion.layout-builder-block {
  padding: 0;
}

/*# sourceMappingURL=accordions.css.map */