<div class="field-faq">
  <h3 class="field-faq__question">
    <a href="#">A frequently asked question</a>
  </h3>
  <h3 class="field-faq__question">
    <a href="#">A frequently asked question</a>
  </h3>
</div>
