/* Vertical rhythm presets =========================================== */
/* Breakpoints ======================================================== */
/* line 3, src/scss/3_components/form/search-form.scss */
.block-search-form {
  overflow: visible;
  position: relative;
  width: 100%;
  height: 3.5rem;
  margin: 0 auto;
  padding: 0;
}

@media screen and (min-width: 766px) {
  /* line 3, src/scss/3_components/form/search-form.scss */
  .block-search-form {
    margin-top: 30px;
  }
}

/* line 15, src/scss/3_components/form/search-form.scss */
.block-search-form .content {
  margin-top: 0;
}

/* line 19, src/scss/3_components/form/search-form.scss */
.block-search-form .form-text {
  float: none;
  width: 220px;
  max-width: 100%;
  margin-right: 0;
  padding: 8px;
}

/* line 27, src/scss/3_components/form/search-form.scss */
.block-search-form .form-submit:hover {
  opacity: .8;
}

/* line 33, src/scss/3_components/form/search-form.scss */
.search-form input {
  font-size: 1.4rem;
  box-sizing: border-box;
  height: 3.3rem;
}

/* line 38, src/scss/3_components/form/search-form.scss */
.search-form input[type='submit'] {
  background: resolve("search-icon.png") no-repeat center top;
  text-indent: -9999px;
  height: 27px;
  width: 27px;
  position: absolute;
  top: 2px;
  right: 10px;
}

@media screen and (min-width: 320px) {
  /* line 33, src/scss/3_components/form/search-form.scss */
  .search-form input {
    height: 3.5rem;
  }
}

/* line 53, src/scss/3_components/form/search-form.scss */
.search-form .form-text {
  width: 100%;
  border: 1px solid #666;
  border-radius: 0;
  padding: .5rem;
}

@media screen and (min-width: 320px) {
  /* line 53, src/scss/3_components/form/search-form.scss */
  .search-form .form-text {
    padding: .8rem;
    width: 200px;
  }
}

/* line 65, src/scss/3_components/form/search-form.scss */
.search-form .form-submit {
  right: 15px;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
}

@media screen and (min-width: 320px) {
  /* line 65, src/scss/3_components/form/search-form.scss */
  .search-form .form-submit {
    right: 5px;
  }
}

/* line 77, src/scss/3_components/form/search-form.scss */
.search-form .form-actions input {
  margin: 1px 0;
  border-radius: 0;
}

@media screen and (min-width: 320px) {
  /* line 82, src/scss/3_components/form/search-form.scss */
  .search-form input[type='text'],
  .search-form input[type='search'] {
    border: 1px solid #ccc;
    color: #373737;
    background-color: inherit;
    background: resolve("search-icon.png") no-repeat left top 3px;
    min-width: 200px;
    height: 33px;
    border-radius: 0;
    padding: 0 .5em 0 2em;
    margin-right: 0;
  }
}

@media screen and (min-width: 641px) {
  /* line 82, src/scss/3_components/form/search-form.scss */
  .search-form input[type='text'],
  .search-form input[type='search'] {
    margin-right: 10rem;
  }
}

@media screen and (min-width: 320px) {
  /* line 101, src/scss/3_components/form/search-form.scss */
  .search-form input[type='submit'] {
    background-color: #666;
    background-image: none;
    color: #fff;
    box-sizing: border-box;
    width: 10rem;
    height: 33px;
    margin: 2px 0 0;
    overflow: hidden;
    line-height: 1;
    text-indent: 0;
    font-weight: normal;
    text-shadow: none;
    position: relative;
    right: 5px;
    top: 0;
  }
}

@media screen and (min-width: 641px) {
  /* line 101, src/scss/3_components/form/search-form.scss */
  .search-form input[type='submit'] {
    right: 0;
    position: absolute;
  }
}

/*# sourceMappingURL=search-form.css.map */