{#
/**
 * @file
 * html document node, displayed in embed view mode.
 *
 * @see template_preprocess_node()
 */
#}
{% set media_attributes = create_attribute() %}
{% set media_attributes = media_attributes.setAttribute('lang', langcode) %}
{% set file_classes = [
  'file-link',
  'file--ico',
  'file--ico__html',
]
%}
{% set media_attributes = media_attributes.addClass(file_classes) %}
<a{{ media_attributes }} href="{{ url }}">
  {{ label }}
  <span class="meta">HTML document</span>
</a>
{{ title_suffix.contextual_links }}
