// Button Links
//
// Hyperlinks are used to allow the user to navigate to other resources or to download a resource. Button links
// are styled as a button element.
//
// .btn - A link styled as a button element.
//
// Markup: ../../1_base/kss-templates/links-a.twig
//
// Style guide: components.content.links
a {
  &.btn {
    @include responsive-typo-map($normal-text);
    display: inline-block;
    color: #fff;
    margin: 1rem 0 0;
    text-align: center;
    padding: .6rem 1.6rem;
    cursor: pointer;
    background: $brand-primary;
    border-radius: 0;

    &:hover {
      opacity: .7;
      text-decoration: none;
    }
  }
}
