.item-list ul {
  margin: 0;
  padding: 0;
}

ul {
  &.inline {
    clear: both;
  }

  &.primary {
    border: 0;
    margin: 0;
    padding: 0;

    li {
      float: left;

      a {
        border-radius: 4px/0;
        background: none;
        border: 0;
        display: block;
        float: left;
        line-height: 1.5385em;
        margin: 0 .5rem 0 0;
        padding: 0 1em;

        &:hover,
        &:active {
          background: $text;
          border: 0;
          color: #fff;
        }

        &:hover {
          background: #888;
          text-decoration: none;
        }
      }
    }
  }

  &.secondary {
    background: $text;
    border-bottom: 0;
    clear: both;
    margin: 0;
    padding: 0;

    li {
      border-right: 0;

      a,
      a:link {
        border: 0;
        color: #ccc;
        display: block;
        float: left;
        line-height: 1.5385em;
        padding: 0 1em;
      }

      a:hover,
      a.active {
        background: #888;
        color: #fff;
        text-decoration: none;
      }
    }

    a.active {
      border-bottom: 0;
    }
  }
}

// Split list
//
// This is a type of list that divides the list into two columns, with every second list item listed in the right
// hand column.
//
// Markup: ../kss-templates/list-splitlist.twig
//
// Style guide: components.content.lists.split-lists
.split-list {
  box-sizing: border-box;
  width: 100%;
  clear: both;
  float: left;

  li {
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding-right: 1em;

    &:nth-child(odd) {
      clear: left;
    }
  }
}

