@import '../../init';

.page-blog article {
  padding-bottom: 4rem;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 4rem;

  footer {
    background: #f3f3f3;
    padding: .5rem 1rem;
    border: 1px solid #e7e7e7;
  }
}
