@import '../../init/index';

.social-icons {
  text-align: center;

  @media screen and (max-width: $tab) {
    width: 100%;
    text-align: center;
    float: right;
    margin: .9rem 0 0;
  }

  ul {
    margin: 0;
  }

  li {
    display: inline-block;

    @media screen and (max-width: $mob) {
      padding: 0;
      text-align: center;
    }
  }
}
