# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
version: 2

jobs:
  install:
    docker:
      - image: circleci/node:lts
    steps:
      - checkout
      - restore_cache:
          key: node_modules-{{ checksum "package.json" }}
      - run:
          name: Fetch dependencies
          command: npm install
      - save_cache:
          key: node_modules-{{ checksum "package.json" }}
          paths:
            - node_modules
      - persist_to_workspace:
          root: ./
          paths:
            - ./
  # Code linting.
  lint:
    docker:
      - image: circleci/node:lts
    steps:
      - attach_workspace:
          at: ./
      - run:
          name: Lint all code
          command: |
            npm run lint
  # Build front-end assets.
  build_assets:
    docker:
      - image: circleci/node:lts
    steps:
      - attach_workspace:
          at: ./
      - run:
          name: Fetch dependencies
          command: npm run build
  # Static analysis of any PHP/Drupal code.
  phpcs:
    docker:
      - image: circleci/php:7.3.14-apache-browsers
    steps:
      - checkout
      - run:
          name: Fetch phpcs and dependencies
          command: |
            composer require drupal/coder:^8.3 --prefer-stable --prefer-dist
            # Move vendor directory up a level as we don't want to code-check all of that.
            mv vendor ../
      - run:
          name: Fetch phpcs convenience script
          command: |
            curl https://raw.githubusercontent.com/dof-dss/nidirect-drupal/master/phpcs.sh -o /home/circleci/project/phpcs.sh
            chmod +x /home/circleci/project/phpcs.sh
      - run:
          name: PHPCS static analysis
          command: /home/circleci/project/phpcs.sh /home/circleci "/home/circleci/project"

workflows:
  version: 2
  build-static-analysis:
    jobs:
      - install
      - lint:
          requires:
            - install
      - build_assets:
          requires:
            - install
      - phpcs
