.submitted {
  background: rgb(247, 247, 247);
  border: 1px solid rgb(236, 236, 236);
  clear: both;
  color: rgb(56, 56, 56);
  display: inline-block;
  margin-bottom: .5rem;
  padding: .2rem .8rem;
}

.form-submit {
  cursor: pointer;
}

.form-text {
  padding: .8rem;
}

.form-item {
  margin-bottom: 1em;
  margin-top: .2rem;
}

.form-type-radio,
.form-type-checkbox {
  label {
    margin-left: .4rem;
  }

  .description {
    margin-left: .2rem;
  }
}

.form-actions {
  padding-top: 1rem;
}

fieldset {
  border: none;

  .fieldset-wrapper {
    margin-top: 2.5rem;
    padding-left: 0.3rem;
  }
}

.password-suggestions ul li {
  margin-left: 1.2em;
}

label {
  display: block;
}

[type='text'],
[type='search'],
[type='tel'],
[type='url'],
[type='email'],
[type='password'],
[type='date'],
[type='time'],
[type='number'] {
  width: 100%;
  max-width: 56rem; // fallback for older browsers
  max-width: fit-content;
}

[size='30'],
[size='40'],
[size='50'],
[size='60'] {
  max-width: 65rem;
}

input {
  &[type="submit"] {
    text-decoration: none;
  }
}

input[type="checkbox"] {
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 0.25em;
  padding: 0;
  background: #fff;
  border: 1px solid $charcoal;
  width: 1.6rem;
  height: 1.6rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: background 0.5s ease;
  outline: none;

  &:checked {
    background: $link;
    box-shadow: inset 0 0 0 3px $white;
  }
}

.js-form-type-checkbox,
.js-form-type-radio {
  display: flex;

  label.option {
    margin-left: 1rem;
  }
}

[type='text'],
[type='search'],
[type='tel'],
[type='url'],
[type='email'],
[type='password'],
[type='date'],
[type='time'],
[type='number'],
textarea {
  box-sizing: border-box;
  border: 1px solid #555;
  color: $charcoal;
  margin: .5em 0;
  padding: .6rem;
  min-height: 3.5rem;

  /* Highlight the form elements that caused a form submission error. */
  &.error,
  &.error:focus {
    border: 1px solid $error;
    outline-color: $error;
    background-color: $error-bg; // lightpink
    box-shadow: none;
    color: $charcoal;
  }
}


