.search-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100% - 4rem) 4rem;
  grid-template-columns: auto 4rem;
  grid-template-areas: "form-item form-action";
  align-items: center;
  margin-top: 40px;

  @media screen and (max-width: $tab) {
    margin-right: 10px;
    margin-top: 0;
  }

  @supports (display: grid) {
    margin-top: 0;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    margin-top: 0;
  }

  .form-item {
    margin: 0;
    -ms-grid-column: 1;
    grid-area: form-item;
    float: left;
    width: calc(100% - 4rem);

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      width: auto;
    }

    @supports (display: grid) {
      float: none;
      width: auto;
    }
  }

  .form-actions {
    padding: 0;
    -ms-grid-column: 2;
    grid-area: form-action;
    float: right;

    @supports (display: grid) {
      float: none;
    }
  }

  .form-submit {
    border: 0;
    box-shadow: none;
    cursor: pointer;
    padding: 0;

    &:hover {
      opacity: .8;
    }
  }

  input {
    font-size: 1.4rem;
    box-sizing: border-box;
    height: 3.5rem;

    &[type='submit'] {
      background: resolve('search-icon.png') no-repeat center 4px;
      text-indent: -9999px;
      width: 4rem;
      filter: none;

      @media screen and (min-width: 320px) {
        background-color: #666;
        color: #fff;
        box-sizing: border-box;
        margin: 0;
        line-height: 1;
        font-weight: normal;
        text-shadow: none;
        position: relative;
      }
    }

    &[type='text'] {
      @media screen and (max-width: $tab) {
        width: 100%;
      }
    }
  }
}
