@import '../../init';

.submitted {
  background: rgb(247, 247, 247);
  border: 1px solid rgb(236, 236, 236);
  clear: both;
  color: rgb(56, 56, 56);
  display: inline-block;
  margin-bottom: .5rem;
  padding: .2rem .8rem;
}

.form-submit {
  cursor: pointer;
  margin: .5rem;
}

input.form-checkbox,
input.form-radio {
  vertical-align: baseline;
}

.form-text {
  padding: .8rem;
}
