@import '../init';

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- //
// --- styling for consultations --- //
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- //

// styles unique to a consultation node page
.node-type-consultation {
  .summary {
    background-color: $grey-light;

    .consultation-dates {
      @media screen and (min-width: $tab) {
        width: 33.3333%;
      }
    }

    .field-summary {
      @media screen and (min-width: $tab) {
        width: 66.6666%;
      }

      h2 {
        margin-top: 0;
      }
    }

    .consultation-dates,
    .field-summary {
      float: left;
      padding: 1.2rem;
    }
  }

  .field-body {
    margin-top: 2.4rem;
  }
}

// styles for the search index page
.panel-nicspubsearch .metaListItem {
  margin-left: 2rem;
}
