#cookie-law {
    background: $brand-primary repeat scroll left top;
    background: rgba($brand-primary,.95) repeat scroll left top;
    float: left;
    padding: 0 10px 20px;
    padding: 0 1rem 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    & .cookie-law-inner {
        margin: 0 auto;
        width:100%;
        max-width: 940px;
    }
    & .cookie-law-content p {
        color: #fff;
        @include adjust-font-size-to(16px);
        &.cookie-law-title {
            @include adjust-font-size-to(24px);
            margin-top: 10px;
            margin-top: 1rem;
        }
        & a {
            text-decoration: underline;
            color: #fff;
        }
        & a:hover, a:focus {
            color: #fff;
        }
    }
}
