@import '../init';

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- //
// --- styling for default search bar and search page -- //
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- //
#swr-search-form,
#views-exposed-form-default-search-page-1 {
  @extend %search-form;
}

.region-content .view-default-search {
  position: relative;

  #views-exposed-form-default-search-page-1 {
    input[type='submit'] {
      top: 7px;
      right: 0;

      @media screen and (min-width: 320px) {
        margin: 26px 0 0;
        position: relative;
        top: 0;
      }
    }

    & input[type='text'],
    input[type='search'] {
      @media screen and (min-width: 320px) {
        margin-right: 0;
        min-width: 200px;
      }

      @media screen and (min-width: $mob) {
        margin-right: 0;
        min-width: 300px;
      }
    }

    .views-exposed-form .views-exposed-widget {
      padding: 0;
      width: 100%;

      @media screen and (min-width: 320px) {
        padding: .5em 0 0;
        width: auto;
      }

      @media screen and (min-width: $mob) {
        padding: .5em .5em 0 0;
      }
    }
  }
}

h2.result-count {
  margin-top: 0;
}
