blockquote, q {
    background: transparent url("/sites/all/themes/nics_software/images/quote.png") no-repeat scroll 0 0;
    border: none;
}
%list-spacing {
    ul, ol {
      margin-bottom: 18px;
      margin-bottom: rhythm(3);

      li {
        padding: 0 0 6px;
        padding: 0 0 rhythm(1);
      }
    }
}
// styling for unordered list items
#content {
    @extend %list-spacing;
}
.node-page, .node-news, .node-faq {
    /* ol {
        margin-bottom: 18px;
        margin-bottom: rhythm(3);

        li {
            padding: 0 0 6px;
            padding: 0 0 rhythm(1);
        }
    } */

    ul {
        //margin-bottom: 18px;
        //margin-bottom: rhythm(3);

        li {
            position: relative;
            list-style: none;
            //padding: 0 0 6px;
            //padding: 0 0 rhythm(1);

            &:before {
                content: "-";
                position: absolute;
                left: -20px;
                top: 0;
            }
        }
    }
}

aside {
    //#sidebar-second {
    ul {
        margin: 0;

        @include rhythm-margins(2, 3);

        li {
            margin: 0 0 0 20px;
            margin: 0 0 0 2rem;
            padding: 0 0 6px;
            padding: 0 0 rhythm(1);
        }
    }
}

// FAQ Module overrides

.field-faq {
    font-family: inherit;
    font-size: inherit;

    h3 {
        background: none;
        border: none;
        font-weight: 600;

        a {
            color: $brand-primary;
        }
    }
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited, .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, .ui-widget-content a {
    color: $brand-primary;
}

.ui-widget {
    font-size: inherit;
    font-family: inherit;
}

.ui-accordion .ui-accordion-icons {
    padding-left: 25px;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    left: 0;
}

.ui-widget-content {
    border: none;
    background: none;
    color: $text;
    overflow: hidden !important;

    li {
        color: $text;
    }
}
.x-scroll {
    width: 100%;
    overflow-x: auto;
    margin: rhythm(2) 0 rhythm(4) 0;

    @media screen and (min-width: 765px) {
        margin: 18px 0 27px 0;
        margin: rhythm(3) 0 rhythm(4.5) 0;
    }

    table {
        margin: 0;
    }
}

.wysiwyg-map {
  width: 100% !important;
  margin-bottom: 12px;
}
.google-map-field {
  div {
    line-height: 1;
  }
}

.views-exposed-widgets {
  .views-submit-button {
    input {
      // Since the button text appears in the Url it should be lowercase. It's coded that way (see
      // software_resp_default_search_form.inc) - this rule capitalises the button text on the page.
      &[type=submit] {
        text-transform: capitalize;
      }
    }
  }
}
