@import '../init';

// styling for webforms
.content .node-webform {
  fieldset {
    border: 0 none;
    margin-bottom: .5rem;

    legend {
      background: #dbdbdb none repeat scroll 0 0;
      border-color: #ccc;
      border-image: none;
      border-style: solid;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-width: 1px 1px 0;
      display: block;
      position: relative;
      line-height: 2;
      padding: 0;
      text-indent: 1rem;
      width: 100%;
    }
  }

  .fieldset-wrapper {
    padding: 0;
    margin-top: 0;

    @media screen and (min-width: $phab) {
      max-width: 60%;
    }
  }

  button,
  input,
  select,
  textarea {
    border-radius: 0 !important;
    font-family: inherit;
    font-size: 100%;
  }

  .webform-component input {
    width: 100%;
  }

  button,
  input[type='submit'],
  input[type='reset'],
  input[type='button'] {
    text-decoration: none !important;
    text-align: center;
    text-shadow: none;
    font-weight: normal;
    display: inline-block;
    box-sizing: border-box;
    min-width: 130px;
    border: 0 solid $border; // Was $webform-btn
    border-radius: 0;
    color: $text !important; // Was $btn-txt-color
    background: $button; // Was $webform-btn
    background-size: 17px auto;
    padding: .5rem 1em .6rem;

    &:hover {
      background: $button-action; // Was $webform-btn-hover
      border-color: $button-action; // Was $webform-btn-hover
    }
  }
}
