// Variables
//
// Variables are values assigned to a name that begins with $, which can then be referred to that name instead of the
// value itself. Despite their simplicity, they're one of the most useful tools Sass brings to the table. Variables
// make it possible to reduce repetition, do complex math, configure libraries, and much more.
//
// Weight: -10
//
// Style guide: init.variables

// Vertical rhythm variables
//
// Set some values that contribute to the compass modules for compiling values that create a consist vertical rhythm.
//
// $base-font-size - The font size set on the root html element.
// $base-line-height - The base line height determines the basic unit of vertical rhythm.
// $rhythm-unit - The length unit in which to output vertical rhythm values. Supported values: px, em, rem.
// $rem-with-px-fallback - Whether to output fallback values in px when using rem as the rhythm-unit.
// $round-to-nearest-half-line - Round the line height to the nearest half line height instead of the nearest integral
// line height.
// $indent-amount - The amount lists, blockquotes and comments are indented.
//
// Weight: -7
//
// Style guide: init.variables.vertical-rhythm
$base-font-size: 10px;
$base-line-height: 6px;
$rhythm-unit: 'rem';
$rem-with-px-fallback: false;
$round-to-nearest-half-line: true;

$indent-amount: 1.8rem;

// Breakpoint variables
//
// Set some values for where responsive changes occur - the values are set for use with `min-width` media queries.
//
// $mob - a mobile device view in landscape.
// $phab - a tablet sized device being viewed portrait;
// $tab - a tablet sized device being viewed landscape;
// $lap - a larger device with a smaller screen such as a laptop;
// $desk - a full sized screen, able to accommodate the largest sizes currently available;
// $max-grid-width - sets the maximum value the content area can expand to, on larger devices, the content container is
// centered on the page.
//
// Weight: -7
//
// Style guide: init.variables.breakpoints
$mob: 440px;
$phab: 641px;
$tab: 766px;
$lap: 961px;
$desk: 1153px;

$grid-breakpoints: (
  xs: 0,
  sm: $mob,
  md: $phab,
  lg: $tab,
  xl: $lap,
  xxl: $desk,
) !default;


// Set the grid sizes with a default value that can be overwritten on a per theme basis.
$max-grid-width: 1024px !default;
