// These variables are used by many mixins to add additional CSS to support
// specific versions of IE or specific vendor prefixes.
//
// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) Set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
// $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid and gutter width in resonsive-sidebars.scss
//   (use px for both or use % for both) and set the box-sizing variable to content-box.
//
// Zen does not require special handling for IE8 or later. But Compass uses that
// variable for a couple edge cases. We include it for completeness sake. See
// the documentation at http://compass-style.org/reference/compass/support/
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;

//
// Font faces, stacks and sizes.
//
// Compass' vertical_rhythm extension is a powerful tool to set up a vertical
// rhythm for your entire page. You can see some of its mixins and functions in
// use in the normalize.scss file.
// @see http://compass-style.org/reference/compass/typography/vertical_rhythm/

$base-font-size:   10px; // The font size set on the root html element.
$base-line-height: 6px; // This line-height determines the basic unit of vertical rhythm.
$rhythm-unit: "rem"; // This is to set the output rhythm values to rem
$rem-with-px-fallback: true; // Output fallback values in px for IE as we are using rem as the rhythm-unit

$h1-font-size: 2.4 * $base-font-size;
$h2-font-size: 2 * $base-font-size;
$h3-font-size: 1.8 * $base-font-size;
$h4-font-size: 1.6 * $base-font-size;
$h5-font-size: 1.6 * $base-font-size;
$h6-font-size: 1.6 * $base-font-size;
$p-font-size: 1.6 * $base-font-size;

$base-font-family: 'Open Sans', sans-serif;

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


//
// Colors, etc.
//

// base variables -----------------------------------
$brand-primary: #002e62; // used in the nav bar etc
$text: #373737; // txt color for normal p txt
$headings: #373737; // txt color for all headings
$link: #16a085; // used for anchor links on the site
$link-hover: #138d75;// used on the hover effect on links
$grey: #333;
$white: #fff;
$black: #000;
$red: red;
$green: green;
$blue: blue;
$yellow: yellow;
$orange: orange;

// menu styling
$menu-background: $brand-primary; //background color for the main / nav menu
$menu-item-hover: #3e1151; // changes the background color on top level menu items on hover
$menu-separator: $white; // colors the border between menu items
$menu-sub-item-background: lighten(#3e1151, 10);
$menu-sub-item-hover: #1abc9c; // background color for sub menu items on hover

//table styling
$table-background: #fff; // background color for tables
$table-border: #bbb; // border color of table
$table-header-cell-background: #2e3d4a; //background color for table heading cells - font is colored white
$table-header-cell-border: #c8c7c7; // border color for heading cells
$table-cell-text: #747474; //font color for table cells - background color is as per table above
$table-cell-border: #dbdbdb; // border color for table cells

// footer styling
$footer-background: $brand-primary;
$footer-border: #00a583;
$footer-text: #fff;
$footer-headings: #fff;


// Tab styling.
$tabs-container-bg: #fff;
$tabs-border: #bbb;

// Style Guide Colors
$webform-btn: $link;
$webform-btn-hover: darken($webform-btn,5);
$btn-txt-color: $white;

$btn-green: $link;
$btn-green-hover: lighten($link,5);
$btn-green-active: darken($link,5);
$btn-blue: #44AADD;
$btn-blue-hover: #2DAFF7;
$btn-blue-active: #1580BD;
$btn-red: #DF522D;
$btn-red-hover: #F56C45;
$btn-red-active: #D13719;
$btn-navy: #113550;
$btn-navy-hover: #143E5F;
$btn-navy-active: #061F33;
$btn-charcoal: #333;
$btn-charcoal-hover: #666;
$btn-charcoal-active: #4b4b4b;
