/*
 * @file
 * Provides styling for search facets.
 */
/* line 27, src/scss/3_components/block/facets.scss */
.facet--btn {
  background-color: #333;
  display: block;
  line-height: 4.4rem;
  min-height: 4.4rem;
  min-width: 100px;
  padding: 0 .5em;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
  font-size: 1.6rem;
}

@media (min-width: 641px) {
  /* line 27, src/scss/3_components/block/facets.scss */
  .facet--btn {
    min-width: 120px;
    font-size: 1.8rem;
  }
}

/* line 46, src/scss/3_components/block/facets.scss */
.facet--btn:link, .facet--btn:visited {
  color: #fff;
}

/* line 51, src/scss/3_components/block/facets.scss */
.facet--btn:hover {
  background-color: #666;
  text-decoration: none;
}

/* line 56, src/scss/3_components/block/facets.scss */
.facet--btn:focus {
  outline: 3px dotted #16a085;
  outline-offset: 0px;
  background-color: #333;
  border-bottom-width: 2px;
}

/* line 63, src/scss/3_components/block/facets.scss */
.facet--btn:active {
  background-color: #262626;
  border-color: #262626;
}

/* line 68, src/scss/3_components/block/facets.scss */
.facet--btn .ico-arrow-down {
  fill: #fff;
  float: right;
  height: 2rem;
  margin: 1rem;
  width: 2rem;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
}

/* line 77, src/scss/3_components/block/facets.scss */
.facet--btn.active .ico-arrow-down {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 82, src/scss/3_components/block/facets.scss */
.facet--dropdown-links {
  margin: 1em 0;
}

/* line 86, src/scss/3_components/block/facets.scss */
.facet--title {
  margin: 0;
}

/* line 90, src/scss/3_components/block/facets.scss */
.facets-widget-links {
  background-color: #f6f6f6;
  -webkit-box-shadow: 0 0 1px inset #333;
  box-shadow: 0 0 1px inset #333;
}

/* line 95, src/scss/3_components/block/facets.scss */
.facet-list__links {
  margin: 0 0 .6rem;
}

/* line 99, src/scss/3_components/block/facets.scss */
.facet-item, .facet-summary-item--facet {
  margin: 0;
  padding: 0;
}

/* line 104, src/scss/3_components/block/facets.scss */
.facet-item__label, .facet-summary-item--facet__label {
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 1rem 0;
}

/* line 109, src/scss/3_components/block/facets.scss */
.facet-item__label::after, .facet-summary-item--facet__label::after {
  content: ':';
}

/* line 114, src/scss/3_components/block/facets.scss */
.facet-item a, .facet-item--link, .facet-summary-item--facet a, .facet-summary-item--facet--link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 1rem .6rem;
  text-decoration: none;
}

/* line 126, src/scss/3_components/block/facets.scss */
.facet-item a:hover .facet-item__value, .facet-item--link:hover .facet-item__value, .facet-summary-item--facet a:hover .facet-item__value, .facet-summary-item--facet--link:hover .facet-item__value {
  text-decoration: none;
}

/* line 131, src/scss/3_components/block/facets.scss */
.facet-item a:focus, .facet-item--link:focus, .facet-summary-item--facet a:focus, .facet-summary-item--facet--link:focus {
  background-color: #16a085;
  color: #fff;
}

/* line 136, src/scss/3_components/block/facets.scss */
.facet-item a .facet-item__value, .facet-item--link .facet-item__value, .facet-summary-item--facet a .facet-item__value, .facet-summary-item--facet--link .facet-item__value {
  text-decoration: underline;
}

/* line 141, src/scss/3_components/block/facets.scss */
.facet-item-summary-item--facet a, .facet-summary-item--facet-summary-item--facet a {
  margin: 0 .4rem;
}

/* line 145, src/scss/3_components/block/facets.scss */
.facet-item__value, .facet-summary-item--facet__value {
  display: inline-block;
  padding: 0 .4rem;
}

/* line 150, src/scss/3_components/block/facets.scss */
.facet-item__count, .facet-summary-item--facet__count {
  text-decoration: none;
}

/* line 154, src/scss/3_components/block/facets.scss */
.facet-item__status, .facet-summary-item--facet__status {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  margin-right: .6rem;
  padding: 0;
  background-color: #666;
  color: #fff;
  text-decoration: none;
}

/* line 166, src/scss/3_components/block/facets.scss */
.facet-item__status::before, .facet-item__status::after, .facet-summary-item--facet__status::before, .facet-summary-item--facet__status::after {
  content: ' ';
  display: block;
  width: .2rem;
  height: 1rem;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: .9rem;
  top: .5rem;
}

/* line 179, src/scss/3_components/block/facets.scss */
.facet-item__status::after, .facet-summary-item--facet__status::after {
  -webkit-transform: rotate(130deg);
  transform: rotate(130deg);
}

/* line 185, src/scss/3_components/block/facets.scss */
.facet-item a.is-active,
.facet-summary-item--facet a {
  color: #333;
}

/* line 190, src/scss/3_components/block/facets.scss */
.facet-item a.is-active .facet-item__value,
.facet-summary-item--facet a .facet-item__value {
  text-decoration: none;
  padding-left: 0;
}

/* line 195, src/scss/3_components/block/facets.scss */
.facet-item a.is-active:focus,
.facet-summary-item--facet a:focus {
  color: #fff;
}

/* line 198, src/scss/3_components/block/facets.scss */
.facet-item a.is-active:focus .facet-item__status,
.facet-summary-item--facet a:focus .facet-item__status {
  background-color: #fff;
}

/* line 201, src/scss/3_components/block/facets.scss */
.facet-item a.is-active:focus .facet-item__status::before, .facet-item a.is-active:focus .facet-item__status::after,
.facet-summary-item--facet a:focus .facet-item__status::before,
.facet-summary-item--facet a:focus .facet-item__status::after {
  background-color: #666;
}

/* line 208, src/scss/3_components/block/facets.scss */
.facet-item a.is-active:hover .facet-item__status,
.facet-summary-item--facet a:hover .facet-item__status {
  background-color: darkorange;
}

/* line 213, src/scss/3_components/block/facets.scss */
.facet-summary-item--facet a {
  margin: 0 .5em;
}

/* line 217, src/scss/3_components/block/facets.scss */
.facet-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* line 224, src/scss/3_components/block/facets.scss */
.facet-summary__label {
  margin: 0;
  padding: 0;
}

/* line 229, src/scss/3_components/block/facets.scss */
.facet-summary__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

/*# sourceMappingURL=facets.css.map */