/* line 3, src/scss/3_components/block/slider.scss */
.region-slideshow {
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 10, src/scss/3_components/block/slider.scss */
#slick-views-slideshow-slideshow-1 .slide__caption {
  font-size: 1.4rem;
  background: rgba(0, 0, 0, 0.6);
  margin: 0;
  right: 0;
  padding: 1rem .4rem 1rem 0;
  color: #fff;
  width: 355px;
  height: 100%;
  top: 0;
  left: auto;
  position: absolute;
}

@media screen and (max-width: 961px) {
  /* line 10, src/scss/3_components/block/slider.scss */
  #slick-views-slideshow-slideshow-1 .slide__caption {
    background: #6a6a6a;
    opacity: 1;
  }
}

@media screen and (max-width: 766px) {
  /* line 10, src/scss/3_components/block/slider.scss */
  #slick-views-slideshow-slideshow-1 .slide__caption {
    width: 100%;
    position: relative;
    padding: 1rem 0;
  }
}

@media screen and (max-width: 961px) {
  /* line 34, src/scss/3_components/block/slider.scss */
  #slick-views-slideshow-slideshow-1 .slide__caption h2,
  #slick-views-slideshow-slideshow-1 .slide__caption h3 {
    font-size: 1.8rem;
    margin: 0;
  }
}

/* line 42, src/scss/3_components/block/slider.scss */
#slick-views-slideshow-slideshow-1 .slide__caption h2 {
  font-size: 2rem;
  padding: 1% 5% 1% 6%;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #414141;
}

@media screen and (max-width: 766px) {
  /* line 42, src/scss/3_components/block/slider.scss */
  #slick-views-slideshow-slideshow-1 .slide__caption h2 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 766px) {
  /* line 53, src/scss/3_components/block/slider.scss */
  #slick-views-slideshow-slideshow-1 .slide__caption h3 {
    margin: 5px 0;
  }
}

/* line 59, src/scss/3_components/block/slider.scss */
#slick-views-slideshow-slideshow-1 .slide__caption p,
#slick-views-slideshow-slideshow-1 .slide__caption a {
  font-size: 2rem;
  display: block;
  padding: 0 6%;
  color: #fff;
  text-decoration: underline;
}

@media screen and (max-width: 961px) {
  /* line 59, src/scss/3_components/block/slider.scss */
  #slick-views-slideshow-slideshow-1 .slide__caption p,
  #slick-views-slideshow-slideshow-1 .slide__caption a {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 766px) {
  /* line 59, src/scss/3_components/block/slider.scss */
  #slick-views-slideshow-slideshow-1 .slide__caption p,
  #slick-views-slideshow-slideshow-1 .slide__caption a {
    padding: 6px 6%;
  }
}

/* line 77, src/scss/3_components/block/slider.scss */
#slick-views-slideshow-slideshow-1 .slide__caption a:hover, #slick-views-slideshow-slideshow-1 .slide__caption a:focus {
  color: #fff;
  text-decoration: none;
}

/* line 83, src/scss/3_components/block/slider.scss */
#slick-views-slideshow-slideshow-1 .slide__caption a:hover {
  background: none;
}

/* line 87, src/scss/3_components/block/slider.scss */
#slick-views-slideshow-slideshow-1 .slide__caption a:focus {
  background: #333;
}

/* line 93, src/scss/3_components/block/slider.scss */
#slick-views-slideshow-slideshow-1 nav.slick__arrow {
  position: absolute;
  bottom: 26px;
  right: 94px;
  left: auto;
  width: unset;
  top: unset;
}

/* line 101, src/scss/3_components/block/slider.scss */
#slick-views-slideshow-slideshow-1 nav.slick__arrow button {
  display: block;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

/* line 108, src/scss/3_components/block/slider.scss */
#slick-views-slideshow-slideshow-1 nav.slick__arrow button.slick-prev {
  left: 0px;
}

/* line 112, src/scss/3_components/block/slider.scss */
#slick-views-slideshow-slideshow-1 nav.slick__arrow button.slick-next {
  left: 44px;
}

/* line 117, src/scss/3_components/block/slider.scss */
#slick-views-slideshow-slideshow-1 nav.slick__arrow button:focus::before {
  color: #0e6bb3;
}

/* line 122, src/scss/3_components/block/slider.scss */
#slick-views-slideshow-slideshow-1 nav.slick__arrow button::before {
  color: #fff;
  font-size: 44px;
}

/* line 129, src/scss/3_components/block/slider.scss */
#slick-views-slideshow-slideshow-1 .slick-dots {
  bottom: -35px;
}

/* line 133, src/scss/3_components/block/slider.scss */
#slick-views-slideshow-slideshow-1 .slick-dots button::before {
  font-size: 1rem;
}

/*# sourceMappingURL=slider.css.map */