/* line 3, src/scss/3_components/block/slider.scss */
.region-slideshow {
  max-width: 1024px;
  margin: auto;
  overflow: hidden;
}

/* line 9, src/scss/3_components/block/slider.scss */
#block-nivo-slider-nivo-slider {
  max-width: 1024px;
  margin: 0 auto;
}

@media screen and (max-width: 961px) {
  /* line 13, src/scss/3_components/block/slider.scss */
  #block-nivo-slider-nivo-slider .nivo-caption {
    background: #6a6a6a;
    opacity: 1;
  }
}

@media screen and (max-width: 766px) {
  /* line 13, src/scss/3_components/block/slider.scss */
  #block-nivo-slider-nivo-slider .nivo-caption {
    width: 100%;
    position: relative;
    padding: 1rem 0;
  }
}

@media screen and (max-width: 961px) {
  /* line 25, src/scss/3_components/block/slider.scss */
  #block-nivo-slider-nivo-slider .nivo-caption h2,
  #block-nivo-slider-nivo-slider .nivo-caption h3 {
    font-size: 1.8rem;
    margin: 0;
  }
}

@media screen and (max-width: 766px) {
  /* line 33, src/scss/3_components/block/slider.scss */
  #block-nivo-slider-nivo-slider .nivo-caption h2 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 766px) {
  /* line 39, src/scss/3_components/block/slider.scss */
  #block-nivo-slider-nivo-slider .nivo-caption h3 {
    margin: 5px 0;
  }
}

@media screen and (max-width: 961px) {
  /* line 45, src/scss/3_components/block/slider.scss */
  #block-nivo-slider-nivo-slider .nivo-caption p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 766px) {
  /* line 45, src/scss/3_components/block/slider.scss */
  #block-nivo-slider-nivo-slider .nivo-caption p {
    padding: 6px 6%;
  }
}

@media screen and (max-width: 961px) {
  /* line 55, src/scss/3_components/block/slider.scss */
  #block-nivo-slider-nivo-slider .nivo-caption .btn {
    font-size: 1.4rem;
    margin-top: 10px;
  }
}

@media screen and (max-width: 766px) {
  /* line 55, src/scss/3_components/block/slider.scss */
  #block-nivo-slider-nivo-slider .nivo-caption .btn {
    margin: 5px 0;
    display: block !important;
  }
}

/* line 69, src/scss/3_components/block/slider.scss */
#slider {
  background: transparent;
  position: relative;
  -webkit-box-shadow: none;
  box-shadow: none;
  overflow: visible;
}

/* line 76, src/scss/3_components/block/slider.scss */
.nivo-caption {
  font-size: 1.4rem;
  background: rgba(0, 0, 0, 0.3);
  margin: 0;
  right: 0;
  padding: 1rem 0;
  color: white;
  width: 355px;
  height: auto;
  top: 0;
  left: auto;
}

/* line 88, src/scss/3_components/block/slider.scss */
.nivo-caption h2 {
  font-size: 2rem;
  padding: 1% 5% 1% 6%;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #414141;
}

/* line 95, src/scss/3_components/block/slider.scss */
.nivo-caption p {
  padding: 0 6%;
}

/* line 99, src/scss/3_components/block/slider.scss */
.nivo-caption .btn {
  display: inline-block !important;
}

/* line 104, src/scss/3_components/block/slider.scss */
.slider-wrapper #slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 113, src/scss/3_components/block/slider.scss */
.theme-default .nivo-controlNav {
  text-align: center;
  padding: .5rem 0 0;
}

/* line 117, src/scss/3_components/block/slider.scss */
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
  width: 100px;
}

/* line 121, src/scss/3_components/block/slider.scss */
.theme-default .nivo-controlNav a {
  text-indent: 9999px;
  font-size: 0;
}

/* line 125, src/scss/3_components/block/slider.scss */
.theme-default .nivo-controlNav a:hover img {
  background: #999;
}

/* line 131, src/scss/3_components/block/slider.scss */
.nivo-directionNav {
  position: absolute;
  bottom: 46px;
  right: 90px;
  left: auto;
}

/*# sourceMappingURL=slider.css.map */