@import '../../init';

div {
  .error,
  .status,
  .warning {
    @include border-radius(3px, 3px);
    background: #fef5f1;
    border-color: #ec7f58;
    padding: 1.5rem 2rem;
  }

  .status {
    background: #f8fff0;
    border-color: #be7;
  }

  .warning {
    background-color: #fffce5;
    border-color: #ed5;
  }
}
