/* Vertical rhythm presets =========================================== */
/* Breakpoints ======================================================== */
/* line 3, src/scss/3_components/navigation/main-nav.scss */
.menu_wrapper {
  width: 100%;
}

@media screen and (max-width: 766px) {
  /* line 3, src/scss/3_components/navigation/main-nav.scss */
  .menu_wrapper {
    margin: 0;
  }
}

/* line 11, src/scss/3_components/navigation/main-nav.scss */
#main-menu {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  background-color: #002e62;
}

@media screen and (max-width: 766px) {
  /* line 11, src/scss/3_components/navigation/main-nav.scss */
  #main-menu {
    border: 0;
  }
}

/* line 21, src/scss/3_components/navigation/main-nav.scss */
#main-menu ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 766px) {
  /* line 21, src/scss/3_components/navigation/main-nav.scss */
  #main-menu ul {
    display: none;
    float: none;
    max-width: 100%;
  }
}

@media screen and (max-width: 766px) {
  /* line 35, src/scss/3_components/navigation/main-nav.scss */
  #main-menu ul ul .ul-toggle {
    font-size: 17px;
    top: 1px;
  }
}

/* line 43, src/scss/3_components/navigation/main-nav.scss */
#main-menu ul li:first-child {
  padding-left: 0;
}

/* line 47, src/scss/3_components/navigation/main-nav.scss */
#main-menu ul li .leaf,
#main-menu ul li .expanded,
#main-menu ul li .collapsed {
  list-style: none;
}

@media screen and (max-width: 766px) {
  /* line 54, src/scss/3_components/navigation/main-nav.scss */
  #main-menu ul.collapse {
    display: block !important;
  }
}

@media screen and (max-width: 766px) {
  /* line 60, src/scss/3_components/navigation/main-nav.scss */
  #main-menu ul.menu li {
    margin: 0;
    width: 100%;
    text-align: center;
    border-right: 0;
  }
}

/* line 68, src/scss/3_components/navigation/main-nav.scss */
#main-menu ul.menu li li {
  border: 0;
  margin: 0;
}

/* line 72, src/scss/3_components/navigation/main-nav.scss */
#main-menu ul.menu li li:hover > a {
  background: #1abc9c;
}

/* line 79, src/scss/3_components/navigation/main-nav.scss */
#main-menu li {
  font-size: 1.4rem;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  border-right: 1px solid #fff;
  float: left;
}

@media screen and (max-width: 766px) {
  /* line 79, src/scss/3_components/navigation/main-nav.scss */
  #main-menu li {
    float: none;
    max-width: 100%;
  }
}

/* line 94, src/scss/3_components/navigation/main-nav.scss */
#main-menu li ul {
  display: none;
  position: absolute;
  z-index: 9999;
  padding: 0;
  margin: 0;
  background: #2e3d4a;
  overflow: visible !important;
}

@media screen and (max-width: 766px) {
  /* line 94, src/scss/3_components/navigation/main-nav.scss */
  #main-menu li ul {
    position: static;
    border: 0;
  }
}

/* line 108, src/scss/3_components/navigation/main-nav.scss */
#main-menu li ul ul {
  left: 151px;
  top: 0;
}

@media screen and (max-width: 766px) {
  /* line 108, src/scss/3_components/navigation/main-nav.scss */
  #main-menu li ul ul {
    margin: 0 !important;
    border: 0;
  }
}

/* line 119, src/scss/3_components/navigation/main-nav.scss */
#main-menu li li {
  float: none;
  min-width: 150px;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 766px) {
  /* line 127, src/scss/3_components/navigation/main-nav.scss */
  #main-menu li li li a {
    background: #004b9f;
  }
}

/* line 133, src/scss/3_components/navigation/main-nav.scss */
#main-menu li li a {
  background: #3e1151;
}

@media screen and (max-width: 766px) {
  /* line 133, src/scss/3_components/navigation/main-nav.scss */
  #main-menu li li a {
    text-align: center;
    background: #004695;
  }
}

/* line 142, src/scss/3_components/navigation/main-nav.scss */
#main-menu li li a,
#main-menu li li span.activelink {
  font-size: 1.4rem;
  min-width: 150px;
  margin: 0;
  border-top: 1px solid #fff;
  text-align: left;
  overflow: hidden;
  padding: .8rem 1.1rem;
  border-radius: 0;
  color: #fff;
}

@media screen and (max-width: 766px) {
  /* line 142, src/scss/3_components/navigation/main-nav.scss */
  #main-menu li li a,
  #main-menu li li span.activelink {
    border-top: 1px solid #fff;
  }
}

/* line 159, src/scss/3_components/navigation/main-nav.scss */
#main-menu li li:hover > a {
  background: #1abc9c;
  border-top: 1px solid #fff;
}

@media screen and (max-width: 766px) {
  /* line 164, src/scss/3_components/navigation/main-nav.scss */
  #main-menu li li .activelink {
    text-align: center;
  }
}

@media screen and (max-width: 766px) {
  /* line 170, src/scss/3_components/navigation/main-nav.scss */
  #main-menu li li .drop-down-toggle {
    top: 5px;
  }
}

/* line 177, src/scss/3_components/navigation/main-nav.scss */
#main-menu li:hover > a {
  background: #3e1151;
}

@media screen and (max-width: 766px) {
  /* line 177, src/scss/3_components/navigation/main-nav.scss */
  #main-menu li:hover > a {
    background: #004695;
  }
}

/* line 185, src/scss/3_components/navigation/main-nav.scss */
#main-menu li:hover > ul,
#main-menu li li:hover > ul,
#main-menu li li li:hover > ul {
  display: block;
}

@media screen and (max-width: 766px) {
  /* line 185, src/scss/3_components/navigation/main-nav.scss */
  #main-menu li:hover > ul,
  #main-menu li li:hover > ul,
  #main-menu li li li:hover > ul {
    display: none;
  }
}

/* line 195, src/scss/3_components/navigation/main-nav.scss */
#main-menu li .leaf,
#main-menu li .expanded,
#main-menu li .collapsed {
  margin: 0;
  padding: 0;
}

/* line 203, src/scss/3_components/navigation/main-nav.scss */
#main-menu a,
#main-menu span.activelink {
  padding: 1.1rem 2rem;
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

@media screen and (max-width: 766px) {
  /* line 203, src/scss/3_components/navigation/main-nav.scss */
  #main-menu a,
  #main-menu span.activelink {
    width: 100%;
    padding: 13px 2%;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    border-right: 0;
    text-align: center;
  }
}

@media screen and (max-width: 766px) {
  /* line 221, src/scss/3_components/navigation/main-nav.scss */
  #main-menu span.activelink {
    padding: 1.3rem 2rem;
    background: #004695;
  }
}

/* line 228, src/scss/3_components/navigation/main-nav.scss */
#main-menu span.activelink,
#main-menu li.active-trail a {
  background: #3e1151;
  color: #fff;
}

/* line 234, src/scss/3_components/navigation/main-nav.scss */
#main-menu .nav-toggle {
  display: none;
}

@media screen and (max-width: 766px) {
  /* line 234, src/scss/3_components/navigation/main-nav.scss */
  #main-menu .nav-toggle {
    font-size: 1.5rem;
    font-weight: normal;
    background: #002e62;
    color: #fff;
    margin: 0;
    padding: 3%;
    letter-spacing: 1px;
    text-align: center;
  }
}

@media screen and (max-width: 766px) {
  /* line 248, src/scss/3_components/navigation/main-nav.scss */
  #main-menu .nav-toggle.open {
    display: block;
  }
}

/* line 255, src/scss/3_components/navigation/main-nav.scss */
#main-menu .ul-toggle {
  display: none;
}

@media screen and (max-width: 766px) {
  /* line 255, src/scss/3_components/navigation/main-nav.scss */
  #main-menu .ul-toggle {
    display: block !important;
    position: absolute;
    right: 5px;
    top: 5px;
    background: #004695;
    border: 0;
    box-shadow: none;
    color: white;
    text-shadow: none;
    font-weight: normal;
    font-size: 20px;
  }
}

@media screen and (max-width: 766px) {
  /* line 273, src/scss/3_components/navigation/main-nav.scss */
  #main-menu.collapse .menu-navigation-container > ul.menu {
    display: block !important;
  }
}

@media screen and (max-width: 766px) {
  /* line 279, src/scss/3_components/navigation/main-nav.scss */
  #main-menu.expanded {
    position: relative;
  }
}

/* line 286, src/scss/3_components/navigation/main-nav.scss */
ul.menu {
  padding: 0;
  margin: .5rem 0;
}

/* line 291, src/scss/3_components/navigation/main-nav.scss */
.region ul.menu li,
.region ul.links li,
.region .item-list ul li {
  background: resolve("marker.png") no-repeat scroll 4px center rgba(0, 0, 0, 0);
  list-style: none outside none;
  margin: 0 0 .2rem;
  padding: 0 0 0 1.5rem;
  text-align: left;
}

/* line 301, src/scss/3_components/navigation/main-nav.scss */
.drop-down-toggle {
  position: absolute;
  top: 7px;
  right: 16px;
  display: none;
  width: 24px;
  height: 24px;
  border-radius: 15px;
  background: #494747;
  border: #aaaaaa 2px solid;
}

@media screen and (max-width: 766px) {
  /* line 301, src/scss/3_components/navigation/main-nav.scss */
  .drop-down-toggle {
    display: block;
  }
}

/* line 317, src/scss/3_components/navigation/main-nav.scss */
.drop-down-arrow {
  display: block;
  width: 0;
  height: 0;
  margin: .8rem 0 0 .5rem;
  border-top: 5px solid #aaa;
  border-left: transparent 5px solid;
  border-right: transparent 5px solid;
}

/*# sourceMappingURL=main-nav.css.map */