#block-sidemenu{background:#f3f3f3;border-top:5px solid #333;padding:1rem}@media (min-width: 961px){#block-sidemenu{margin-top:2rem}}#block-sidemenu h2{font-size:2rem;margin:3.6rem 0 1.2rem;margin:.5rem 0 1rem;padding:0}
