/*
 * @file
 * Defines a breadcrumb component.
 */

// Breadcrumb
//
// The path to the current page in the form of a list of links.
//
// Markup: ../kss-templates/breadcrumb.twig
//
// Weight: 2
//
// Style guide: components.navigation.breadcrumb
.breadcrumb {
  @include adjust-font-size-to(13px);
  margin: 1rem;
  border-bottom: $breadcrumb-border-bottom 1px solid;

  @media screen and (min-width: $lap) {
    margin: 1rem 0;
  }

  .breadcrumb--list {
    list-style: none;
    margin: 0;
  }

  .breadcrumb--item {
    display: inline-block;
    margin: $breadcrumb-margin;

    &::after {
      content: $breadcrumb-separator;
      margin: $breadcrumb-margin;
    }

    &:last-child::after {
      content: none;
    }
  }
}
