/*
 * @file
 * Defines a breadcrumb component.
 */

// Breadcrumb
//
// The path to the current page in the form of a list of links.
//
// Markup: ../kss-templates/breadcrumb.twig
//
// Weight: 2
//
// Style guide: components.navigation.breadcrumb

// Breadcrumb variables
//
// Set some values for the site breadcrumbs.
//
// $breadcrumb-margin - a margin rule to separate breadcrumbs and breadcrumb separators.
// $breadcrumb-border-bottom - a border bottom color to separate the breadcrumb navigation and content.
// $breadcrumb-separator - a symbol placed after breadcrumb text to separate breadcrumb items.
//
// Weight: -5
//
// Style guide: components.navigation.breadcrumb

// Set the breadcrumb variables with a default value that can be overwritten on a per theme basis.
$breadcrumb-margin: 0 !default;
$breadcrumb-border-bottom: #eee !default;
$breadcrumb-separator: '»' !default;

.breadcrumb {
  @include adjust-font-size-to(13px);
  //margin: 1rem;
  border-bottom: 1px solid $breadcrumb-border-bottom;
  line-height: 2.7rem;

  @media screen and (min-width: $lap) {
    //margin: 0;
    line-height: 3.6rem;
  }

  .breadcrumb {
    &--list {
      list-style: none;
      margin: 0;
    }

    &--item {
      display: inline-block;
      margin: $breadcrumb-margin;
      padding: 0;

      a {
        border: 0;
        padding: .4rem 0;
      }

      &::after {
        content: $breadcrumb-separator;
        margin: $breadcrumb-margin;
      }

      &:last-child::after {
        content: none;
      }
    }
  }
}
