/*
 * @file
 * Defines a main navigation component.
 */

// Main Navigation
//
// A list of links to the site's top-level pages.
//
// The max-width of the main-navigation section is set using the `$max-grid-width variable`, declared in the
// 'init/_variables.scss' partial.
//
// The background and border color of elements make use of color variables, set in the 'init/_colors.scss' partial.
//
// $main-menu-span - Determines whether the main-menu is constrained by the width of container or not. If set to any
// value but container then the menu will stretch the full width of the site by setting the background colour of
// .menu_wrapper to $menu-background.
//
// :hover - A menu item that is being hovered over.
//
// Markup: ../kss-templates/main-nav.twig
//
// Style guide: components.navigation.main-navigation

$main-menu-span: container !default;

.menu_wrapper {
  width: 100%;

  @if $main-menu-span != 'container' {
    background-color: $menu-background;
  }

  @media screen and (max-width: $tab) {
    margin: 0;
  }
}

#main-menu {
  max-width: $max-grid-width;
  margin: 0 auto;
  position: relative;
  background-color: $menu-background;

  .nav-main {
    height: auto;
    min-height: 44px;

    @media screen and (max-width: $tab) {
      height: 0;
      overflow: hidden;
      min-height: 0;
    }
  }

  .menu-link_button {
    @include adjust-font-size-to(14px);
    font-family: $base-font-family;
    line-height: 25.6px;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    background: none;
    border: none;
    text-shadow: none;
    box-shadow: none;

    .ico-arrow-down {
      fill: #fff;
      float: right;
      height: 1.3rem;
      margin: .6rem .3rem;
      width: 1.3rem;
    }
  }

  .menu {
    &-main {
      float: left;
      padding: 0;
      margin: 0;
      list-style: none;

      @media screen and (max-width: $tab) {
        max-width: 100%;
        float: none;
      }

      &_sub {
        display: none;
        position: absolute;
        z-index: 9999;
        padding: 0;
        margin: 0;
        background: #2e3d4a;
        overflow: visible !important;
        list-style: none;

        @media screen and (max-width: $tab) {
          position: static;
          border: 0;
        }

        ul {
          left: 151px;
          top: 0;

          @media screen and (max-width: $tab) {
            margin: 0;
            border: 0;
          }
        }

        .menu-item {
          float: none;
          min-width: 150px;
          padding: 0;
          margin: 0;
          position: relative;
          width: 100%;
          background: $menu-item-hover;

          &.open {
            background: $menu-sub-item-hover;

            @media screen and (max-width: $tab) {
              background: lighten($menu-background, 10%);
            }
          }

          @media screen and (max-width: $tab) {
            margin: 0;
            width: 100%;
            text-align: center;
            border-right: 0;

            background: lighten($menu-background, 10%);

            .menu-item .menu-link {
              background: lighten($menu-background, 12%);
            }
          }
        }

        .menu-link {
          @include adjust-font-size-to(14px);
          min-width: 150px;
          margin: 0;
          border-top: 1px solid $menu-separator;
          text-align: left;
          overflow: hidden;
          padding: .8rem 1.1rem;
          border-radius: 0;
          color: $white;

          &:focus{
            background: $menu-sub-item-hover;
          }

          &.is-active {
            font-weight: bold;
          }

          @media screen and (max-width: $tab) {
            border-top: 1px solid #fff;
            text-align: center;
          }

          @media screen and (min-width: $tab) {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }

    &-item {
      @include adjust-font-size-to(14px);
      position: relative;
      display: -moz-inline-stack;
      zoom: 1;
      vertical-align: top;
      float: left;
      padding: 0;
      margin: 0;

      @media screen and (max-width: $tab) {
        float: none;
        max-width: 100%;
      }

      &.open {
        background: $menu-item-hover;

        .ico-arrow-down {
          transform: rotate(-90deg);
        }

        > ul {
          display: block;
        }
      }

      .menu-main_sub {
        .menu-item {
          @media screen and (min-width: $tab) {
            .ico-arrow-down {
              transform: rotate(0);
              height: 15px;
              padding: 0;
            }

            &.open {
              .ico-arrow-down {
                transform: rotate(180deg);
              }
            }
          }

          @media screen and (max-width: $tab) {
            .ico-arrow-down {
              transform: rotate(0);
              padding-left: .5rem;
            }

            &.open {
              .ico-arrow-down {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }

    &-link {
      padding: 1.1rem 2rem;
      display: block;
      text-decoration: none;
      color: #fff;
      font-weight: 500;
      min-width: 44px;

      @media screen and (max-width: $tab) {
        width: 100%;
        padding: 13px 2%;
        border-radius: 0;
        border-bottom: 1px solid #fff;
        border-right: 0;
        text-align: center;
      }

      &:focus {
        background: $menu-item-hover;

        @media screen and (max-width: $tab) {
          background: lighten($menu-background, 10%);
        }
      }

      &:focus {
        box-shadow: 0 0 5px 3px $menu-sub-item-hover;
        outline: none;
      }
    }

    .is-active {
      background-color: $menu-item-hover;
      color: $white;

      @media screen and (max-width: $tab) {
        background: lighten($menu-background, 10%);
      }
    }
  }

  .toggler {
    position: absolute;
    top: 0;
    left: -.5rem;
    z-index: 2;
    cursor: pointer;
    height: 1px;
    width: 1px;
    overflow: hidden;
    opacity: 0;
    max-height: 5rem;
    min-height: 5rem;
    display: none;

    @media screen and (max-width: $tab) {
      top: -5.2rem;
      left: .5rem;
      width: 5rem;
      height: 5rem;
      display: block;

      /* Toggler Animation */
      &:checked + .hamburger > div {
        transform: rotate(135deg);

        /* Turns Lines Into X */
        &::before,
        &::after {
          top: 0;
          transform: rotate(90deg);
        }
      }

      &:checked:hover + .hamburger > div {
        transform: rotate(225deg);
      }

      /* Show menu */
      &:checked ~ .nav-main {
        height: auto;
        transition: max-height 1s ease;
      }
    }
  }

  .toggler-label {
    display: none;

    @media screen and (max-width: $tab) {
      display: block;
    }
  }

  .hamburger {
    position: absolute;
    top: -5.7rem;
    left: .5rem;
    z-index: 1;
    width: auto;
    height: 50px;
    padding: 1rem;
    display: none;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $tab) {
      display: flex;

      /* Hamburger Line */
      & > div {
        position: relative;
        flex: none;
        width: 2.1rem;
        height: .3rem;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .4s ease;

        /* Hamburger Lines - Top & Bottom */
        &::after,
        &::before {
          content: '';
          position: absolute;
          z-index: 1;
          top: -.9rem;
          width: 100%;
          height: .3rem;
          background: inherit;
        }

        /* Moves Line Down */
        &::after {
          top: .9rem;
        }
      }

      &-text {
        color: $white;
        padding-left: 1rem;
      }
    }
  }
}
