/*
 * @file
 * Defines a main navigation component.
 */

// Main Navigation
//
// A list of links to the site's top-level pages.
//
// The max-width of the main-navigation section is set using the `$max-grid-width variable`, declared in the
// 'init/_variables.scss' partial.
//
// The background and border color of elements make use of color variables, set in the 'init/_colors.scss' partial.
//
// $main-menu-span - Determines whether the main-menu is constrained by the width of container or not. If set to any
// value but container then the menu will stretch the full width of the site by setting the background colour of
// .menu_wrapper to $menu-background.
//
// :hover - A menu item that is being hovered over.
//
// Markup: ../kss-templates/main-nav.twig
//
// Style guide: components.navigation.main-navigation

$main-menu-span: container !default;

.menu_wrapper {
  width: 100%;

  @if $main-menu-span != 'container' {
    background-color: $menu-background;
  }

  @media screen and (max-width: $tab) {
    margin: 0;
  }
}

#main-menu {
  max-width: $max-grid-width;
  margin: 0 auto;
  position: relative;
  background-color: $menu-background;

  @media screen and (max-width: $tab) {
    border: 0;
  }

  ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;

    @media screen and (max-width: $tab) {
      display: none;
      float: none;
      max-width: 100%;
    }

    ul {
      @media screen and (max-width: $tab) {
        .ul-toggle {
          font-size: 17px;
          top: 1px;
        }
      }
    }

    li {
      &:first-child {
        padding-left: 0;
      }

      .leaf,
      .expanded,
      .collapsed {
        list-style: none;
      }
    }

    &.collapse {
      @media screen and (max-width: $tab) {
        display: block !important;
      }
    }

    &.menu li {
      @media screen and (max-width: $tab) {
        margin: 0;
        width: 100%;
        text-align: center;
        border-right: 0;
      }

      li {
        border: 0;
        margin: 0;

        &:hover > a {
          background: $menu-sub-item-hover;
        }
      }
    }
  }

  li {
    @include adjust-font-size-to(14px);
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    border-right: 1px solid $menu-separator;
    float: left;

    @media screen and (max-width: $tab) {
      float: none;
      max-width: 100%;
    }

    ul {
      display: none;
      position: absolute;
      z-index: 9999;
      padding: 0;
      margin: 0;
      background: #2e3d4a;
      overflow: visible !important;

      @media screen and (max-width: $tab) {
        position: static;
        border: 0;
      }

      ul {
        left: 151px;
        top: 0;

        @media screen and (max-width: $tab) {
          margin: 0 !important;
          border: 0;
        }
      }
    }

    li {
      float: none;
      min-width: 150px;
      padding: 0;
      margin: 0;
      position: relative;
      width: 100%;

      li a {
        @media screen and (max-width: $tab) {
          background: lighten($menu-background, 12%);
        }
      }

      a {
        background: $menu-item-hover;

        @media screen and (max-width: $tab) {
          text-align: center;
          background: lighten($menu-background, 10%);
        }
      }

      a,
      span.activelink {
        @include adjust-font-size-to(14px);
        min-width: 150px;
        margin: 0;
        border-top: 1px solid $menu-separator;
        text-align: left;
        overflow: hidden;
        padding: .8rem 1.1rem;
        border-radius: 0;
        color: $white;

        @media screen and (max-width: $tab) {
          border-top: 1px solid #fff;
        }
      }

      &:hover > a {
        background: $menu-sub-item-hover;
        border-top: 1px solid $menu-separator;
      }

      .activelink {
        @media screen and (max-width: $tab) {
          text-align: center;
        }
      }

      .drop-down-toggle {
        @media screen and (max-width: $tab) {
          top: 5px;
        }
      }
    }

    &:hover > a {
      background: $menu-item-hover;

      @media screen and (max-width: $tab) {
        background: lighten($menu-background, 10%);
      }
    }

    &:hover > ul,
    li:hover > ul,
    li li:hover > ul {
      display: block;

      @media screen and (max-width: $tab) {
        display: none;
      }
    }

    .leaf,
    .expanded,
    .collapsed {
      margin: 0;
      padding: 0;
    }
  }

  a,
  span.activelink {
    padding: 1.1rem 2rem;
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;

    @media screen and (max-width: $tab) {
      width: 100%;
      padding: 13px 2%;
      border-radius: 0;
      border-bottom: 1px solid #fff;
      border-right: 0;
      text-align: center;
    }
  }

  span.activelink {
    @media screen and (max-width: $tab) {
      padding: 1.3rem 2rem;
      background: lighten($menu-background, 10%);
    }
  }

  span.activelink,
  li.active-trail a {
    background: $menu-item-hover;
    color: $white;
  }

  .nav-toggle {
    display: none;

    @media screen and (max-width: $tab) {
      @include adjust-font-size-to(15px);
      font-weight: normal;
      background: $menu-background;
      color: $white;
      margin: 0;
      padding: 3%;
      letter-spacing: 1px;
      text-align: center;
    }

    &.open {
      @media screen and (max-width: $tab) {
        display: block;
      }
    }
  }

  .ul-toggle {
    display: none;

    @media screen and (max-width: $tab) {
      display: block !important;
      position: absolute;
      right: 5px;
      top: 5px;
      background: lighten($menu-background, 10%);
      border: 0;
      box-shadow: none;
      color: white;
      text-shadow: none;
      font-weight: normal;
      font-size: 20px;
    }
  }

  &.collapse .menu-navigation-container > ul.menu {
    @media screen and (max-width: $tab) {
      display: block !important;
    }
  }

  &.expanded {
    @media screen and (max-width: $tab) {
      position: relative;
    }
  }
}

ul.menu {
  padding: 0;
  margin: .5rem 0;
}

.region ul.menu li,
.region ul.links li,
.region .item-list ul li {
  background: resolve('marker.png') no-repeat scroll 4px center rgba(0, 0, 0, 0);
  list-style: none outside none;
  margin: 0 0 .2rem;
  padding: 0 0 0 1.5rem;
  text-align: left;
}

.drop-down-toggle {
  position: absolute;
  top: 7px;
  right: 16px;
  display: none;
  width: 24px;
  height: 24px;
  border-radius: 15px;
  background: rgb(73, 71, 71);
  border: rgb(170, 170, 170) 2px solid;

  @media screen and (max-width: $tab) {
    display: block;
  }
}

.drop-down-arrow {
  display: block;
  width: 0;
  height: 0;
  margin: .8rem 0 0 .5rem;
  border-top: 5px solid #aaa;
  border-left: transparent 5px solid;
  border-right: transparent 5px solid;
}
