// Pager
//
// A list of links to navigate to pages of content. Pager items are numbered, with a link to first, previous,
// next and last pages, where appropriate.
//
// Markup: ../kss-templates/pager.twig
//
// Weight: 0
//
// Style guide: components.navigation.pager
$link: #0e6bb3 !default;
$link-underline: #bbb !default;
$link-active: #0e6bb3 !default;
$link-hover: #0e6bb3 !default;
$link-hover-background: rgba(75%, 75%, 75%, .25) !default;
$link-visited: #0e6bb3 !default;
$link-visited-underline: #707070 !default;
#pager {
  .pager__items {
    display: flex;
    flex-flow: row wrap;
    line-height: 5rem;
    text-align: left;
    list-style: none;
    margin: 1.5em 0;
    padding: 0;
  }

  .pager__item {
    margin: .2rem;
    padding: 0;
    border: 0;

    &--first {
      margin-left: 0;
    }

    &--last {
      margin-right: 0;
    }

    &.pager-hide-small {
      @media screen and (max-width: 476px) {
        display: none;
      }
    }

    &.pager-hide-phab {
      @media screen and (max-width: $phab) {
        display: none;
      }
    }

    a,
    .pager__item-current,
    &--ellipsis {
      display: inline-block;
      box-sizing: border-box;
      font-size: 1.6rem;
      min-width: 4.4rem;
      min-height: 4.4rem;
      line-height: 4.2rem;
      margin: 0;
      padding: 0 .6rem;
      text-align: center;
      text-decoration: none;

      @include breakpoint($tab) {
        min-width: 4.5rem;
        min-height: 4.5rem;
        line-height: 4.3rem;
      }
    }

    &--ellipsis {
      min-width: 0;

      &.pager-ellipsis-hide {
        @media screen and (max-width: 476px) {
          display: none;
        }
      }
    }

    a,
    a:active,
    a:focus,
    a:visited {
      color: $link;
      background-color: #fff;
      border: 1px solid $ash-grey;
    }

    a:focus {
      outline: 3px solid $link;
    }

    a:hover {
      color: #fff;
      background-color: $link-hover;
      border-color: $link-hover;
      text-decoration: none;
    }

    &.is-active a,
    &.is-active .pager__item-current {
      background-color: $link-active;
      color: #fff;
    }

    &--first a,
    &--previous a,
    &--next a,
    &--last a {
      padding: 0 .6rem;
    }
  }
}
