.item-list .pager li {
  background: #cfcfcf;
  border-radius: 3px;
  margin-right: .4rem;
  text-shadow: 1px 1px #fff;
  border: 0;
}

.pager a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
