/*
 * @file
 * Provides the styling for book navigation element.
 */
@import '../../init/index';
@import '../../init/links/links';

.book-navigation {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  padding: .5em;
  margin: 0;
  background-color: #f0f0f0;

  @include breakpoint($phab) {
    flex-direction: row;
  }

  li {
    margin: 0;
    padding: 0;

    a,
    span {
      @include link-state-style($link-body-no-visited);
      display: inline-block;
      position: relative;
      padding: .5em;

      .ico {
        position: absolute;
        top: calc(50% - .75em);
        width: 1.5em;
        height: 1.5em;
        margin: 0;
      }
    }

    &.page-previous {
      flex: 40%;
      text-align: left;

      .ico {
        left: .5em;
      }
    }

    &.page-next {
      flex: 40%;
      text-align: right;

      .ico {
        right: .5em;
      }
    }

    &.page-up {
      flex: 20%;
      padding: 0 1em;
      text-align: center;
    }
  }
}

#content #block-mainpagecontent .sub-menu--book .book-navigation li {

  &.page-previous a {
    padding-left: 4.5rem;
  }

  &.page-next a {
    padding-right: 4.5rem;
  }

  a {
    margin: 0;
    padding: .5rem;
    text-decoration: underline;
    border: none;

    &:hover {
      border: none;
      text-decoration: underline;
      text-decoration-color: $charcoal;
      text-decoration-thickness: 2px;
      text-underline-offset: 3px;
      outline: 0;
      outline-offset: 0;
    }

    &:focus {
      border: none;
      text-decoration: none;
      outline: 2px solid $link;
      outline-offset: 0;
    }
  }
}
