.menu_wrapper {
  width: 100%;
}

#main-menu {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  background-color: $menu-background;

  ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;

    //@include adjust-font-size-to($p-font-size);

    &.menu {
      li li {
        border: 0;
        margin: 0;

        &:hover > a {
          background: $menu-sub-item-hover;
        }
      }
    }

    li {
      &:first-child {
        padding-left: 0;
      }

      .leaf,
      .expanded,
      .collapsed {
        list-style: none;
      }
    }
  }

  li {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    border-right: 1px solid $menu-separator;
    font-size: 1.4rem;
    float: left;

    &:hover > a {
      background: $menu-item-hover;
    }

    .leaf,
    .expanded,
    .collapsed {
      margin: 0;
      padding: 0;
    }

    li {
      float: none;
      min-width: 150px;
      padding: 0;
      margin: 0;
      position: relative;
      width: 100%;

      &:hover > a {
        background: $menu-sub-item-hover;
        border-top: 1px solid $menu-separator;
      }

      a {
        background: $menu-item-hover;
      }

      a,
      span.activelink {
        min-width: 150px;
        margin: 0;
        border-top: 1px solid $menu-separator;
        font-size: 1.4rem;
        text-align: left;
        overflow: hidden;
        padding: .8rem 1.1rem;
        border-radius: 0;
        color: $white;
      }

      &:hover > ul,
      li:hover > ul,
      li li:hover > ul {
        display: block;
      }
    }

    ul {
      display: none;
      position: absolute;
      z-index: 9999;
      padding: 0;
      margin: 0;
      background: #2E3D4A;
      overflow: visible !important;

      ul {
        left: 151px;
        top: 0;
      }
    }
  }
  a,
  span.activelink {
    padding: 1.1rem 2rem;
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
  }

  span.activelink,
  li.active-trail a {
    background: $menu-item-hover;
    color: $white;
  }
}

ul.menu {
  padding: 0;
  margin: .5rem 0;
}

.region ul.menu li,
.region ul.links li,
.region .item-list ul li {
  background: url("/sites/all/themes/nics_software/images/marker.png") no-repeat scroll 4px center rgba(0, 0, 0, 0);
  list-style: none outside none;
  margin: 0 0 .2rem;
  padding: 0 0 0 1.5rem;
  text-align: left;
}

.drop-down-toggle {
  position: absolute;
  top: 7px;
  right: 16px;
  display: none;
  width: 24px;
  height: 24px;
  border-radius: 15px;
  background: rgb(73, 71, 71);
  border: rgb(170, 170, 170) 2px solid;
}

.drop-down-arrow {
  display: block;
  width: 0;
  height: 0;
  margin: .8rem 0 0 .5rem;
  border-top: 5px solid #aaa;
  border-left: transparent 5px solid;
  border-right: transparent 5px solid;
}

#main-menu .nav-toggle {
  display: none;
}

#main-menu .ul-toggle {
  display: none;
}
