/*
 * @file
 * Defines a tags field component.
 */
@import '../../init/index';

// Tags
//
// The original theme has a concept that a user might tag content with a series of tags. This component deals with
// the output of such a field type. It is not included in the core theming of the site as it is not currently use in any
// site, however the code was ported and added to a standalone library in the unity theme in order that it can still be
// used if required in the future.
//
// Weight: 1
//
// Style guide: components.misc.tags
.field-name-field-tags {
  margin: 0 0 1rem;

  a {
    @include adjust-font-size-to(12px);
    display: inline-block;
    background: resolve('tag.png') no-repeat;
    padding: 0 .8rem 0 1.6rem;
    height: 22px;
    text-shadow: 1px 1px #fff;
    border-radius: 2px;
  }

  .field-item {
    margin: 0 1em 0 0;
  }

  div {
    display: inline;
  }
}

.field-name-field-tag {
  margin: 2rem 0;
  overflow: hidden;

  .field-item {
    display: inline-block;

    a {
      display: block;
      background: #5183af;
      color: #fff;
      padding: .4rem .8rem;
      margin: .2rem;
      border-radius: 3px/3px;
    }
  }
}

