/*
 * @file
 * Defines the layouts for the container section of the page.
 */

// Container
//
// The container layout partial deals with the structure of elements in the main area of the page, this typically
// includes the:-
// - The main content region.
// - The breadcrumb region.
// - Sidebar first region.
// - Sidebar second region.
//
// The layout of the sidebar sections is controlled by the inclusion of a class or classes via a preprocess hook on
// the `<body>` tag of the page. The width of the sidebar regions / areas can be overridden by declaring $variables - XXX
//
// Weight: 2
//
// Style guide: layout.container
#container {
  clear: both;
  overflow: hidden;
}

.container-wrap {
  max-width: $max-grid-width;
  margin: 0 auto 1rem;
  padding: 0;
  overflow: hidden;
}

.content-sidebar-wrap {
  float: left;
  width: 100%;

  @media screen and (max-width: $lap) {
    float: none;
    width: 100% !important;
  }

  @media screen and (max-width: $tab) {
    width: auto;
  }

  #content {
    display: inline;
    margin-bottom: 1rem;
    float: right;
    width: 100%;

    @media screen and (max-width: $lap) {
      margin: 0;
      float: none;
    }

    @media screen and (max-width: $tab) {
      float: left;
      width: auto;
    }
  }

  .front & {
    @media screen and (max-width: $tab) {
      margin: 0;
    }
  }
}

#sidebar-first {
  color: $text;
  float: left;

  @media screen and (max-width: $lap) {
    clear: both;
    float: none;
    width: 100% !important;
    padding: 0 1.5%;
  }

  @media screen and (max-width: $tab) {
    width: auto;
    clear: both;
  }

  .block {
    @media screen and (max-width: $tab) {
      float: none !important;
      width: auto !important;
      margin-left: 0;
    }
  }
}

#sidebar-second {
  color: $text;
  float: right;

  @media screen and (max-width: $lap) {
    float: none;
    width: 100% !important;
    padding: 0 1.5%;
  }

  @media screen and (max-width: $tab) {
    width: auto;
  }

  .block {
    @media screen and (max-width: $tab) {
      float: none !important;
      width: auto !important;
      margin-left: 0;
    }
  }
}

aside {
  .block .content {
    padding: 0 1rem;
  }

  #user-login-form {
    input.form-text {
      width: 90%;
    }

    .form-actions {
      padding-top: 0;
    }
  }
}

$three-col-layout: (19%, 60%, 19%) !default;

/* 3 columns */
.two-sidebars {
  @include unity-layout($three-col-layout);
}

$two-col-layout-sidebar-first: (19%, 80%) !default;

/* 2 columns: sidebar-first */
.sidebar-first {
  @include unity-layout($two-col-layout-sidebar-first);
}

$two-col-layout-sidebar-second: (75%, 22%) !default;

/* 2 columns: sidebar-second */
.sidebar-second {
  @include unity-layout($two-col-layout-sidebar-second);
}

#head,
#content,
#sidebar-second,
#sidebar-first {
  margin-top: 1rem;
}

#content {
  @media screen and (max-width: $lap) {
    float: none;
    width: 100% !important;
  }
} // not sure where this comes from?

//#head,
//#foot {
//  @media screen and (max-width: $lap) {
//    padding: 0 1.5%;
//  }
//}


