/*
 * @file
 * Defines the layouts for the footer area of the page.
 */

// Footer
//
// The footer layout partial deals with the structure of elements in the footer area of the page, this typically
// includes the:-
// - The footer first region.
// - The footer second region.
// - The footer third region.
// - The footer fourth region.
// - The footer bottom region.
//
// Note that background colour for the footer area is controlled by variables in the init/colors partial. You can view
// the currently <a href="/section-init.html">defined color values here in the styleguide</a>.
//
// Weight: 10
//
// Style guide: layout.footer
#footer {
  @include responsive-typo-map($normal-text);
  overflow: auto;
  padding: 1% 2% 2%;
  background: $footer-background;
  border-top: 9px solid $footer-border;
  max-width: $max-grid-width;
  margin: 0 auto;

  p {
    //color: $footer-text;

    @media screen and (max-width: $tab) {
      margin: 0;
    }
  }

  .block > h2 {
    color: #fff;
    padding: 1rem 0;
  }

  .column li {
    display: block;
    padding: .3rem 0 .3rem .1rem;
    border-bottom-width: .1rem;
    border-bottom-style: dotted;
    border-color: #555;
  }

  ul {
    margin: 0;
  }

  //a {
  //  color: $footer-border;
  //}
}

.footer-area {
  .column {
    float: left;
    width: 24.2%;
    margin: 0 0 0 1%;
    padding: 1%;

    @media screen and (max-width: $tab) {
      float: none;
      width: auto;
      margin: 1rem;
    }

    &:first-child {
      margin-left: 0;

      @media screen and (max-width: $tab) {
        margin: 1rem;
      }
    }

    &:last-child {
      float: right;
    }

    &-title {
      color: $footer-headings;
    }

    .bottom_widget & {
      width: 32.5%;
    }
  }

  ul.menu li a.active {
    color: #ddd;
  }
}

.footer_block {
  clear: both;
}

//.footer_inner_credit {
//  margin: 1rem auto;
//}

#footer_wrapper {
  @media screen and (max-width: $lap) {
    padding: 0 1.5rem;
  }

  @media screen and (max-width: $tab) {
    padding: 0;
  }
}
