/*
 * @file
 * Defines the layout styles for the header area.
 */

// Header
//
// The header layout partial deals with the structure of elements in the header area of the page, this typically
// includes the:-
// - Site Branding region which renders (if available)
//   - site_logo: Logo for site as defined in Appearance or theme settings.
//   - site_slogan: Slogan for site as defined in Site information settings.
// - Search region which is a region intended to contain a site search block (if site search is configured).
//
// Weight: 1
//
// Style guide: layout.header
#inner_header_wrapper {
  margin: 0 auto;
  position: relative;
  overflow: inherit;
}

#header {
  max-width: $max-grid-width;
  margin: 1% auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 7.5% 42.5%;
  grid-template-columns: 50% 42.5%;
  grid-template-areas: 'top-left top-right';
  justify-content: space-between;

  @media screen and (max-width: $tab) {
    margin: 0 auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'top-left'
    'top-right';
  }
}

.top_left {
  min-height: 100px;
  padding: 0;
  position: relative;
  -ms-grid-column: 1;
  grid-area: top-left;
  float: left;
  //width: 50%;

  @supports (display: grid) {
    float: none;
  }

  @include breakpoint($tab) {
    min-height: 110px;
  }

  #logo {
    position: absolute;
    left: 0;
    top: 0;
    float: left;
    margin: .8rem 1rem .8rem 0;

    @media screen and (max-width: $tab) {
      text-align: center;
      width: 100%;
      margin: .8rem 0 0;
    }

    img {
      display: block;
      height: 80px;

      @media screen and (max-width: $tab) {
        text-align: center;
        display: inline-block;
      }
    }

    @media screen and (max-width: $tab) {
      padding: 0 1rem;
    }

    a {
      display: inline-block;

      &:focus {
        color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        text-decoration: none;
        outline: .3rem dashed #949494;
        font-size: 0;
        outline-offset: .4rem;
      }
    }
  }

  #site-title {
    #site-description {
      @include adjust-font-size-to(18px);
      line-height: 145%;
    }
  }
}

.top_right {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column: 3;
  grid-area: top-right;
  float: right;

  @supports (display: grid) or (display: -ms-grid) {
    float: none;
  }

  @media screen and (max-width: $tab) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column-align: unset;
    justify-self: unset;
  }

  .region-search {
    margin: .5rem 0;

    @media screen and (max-width: $tab) {
      width: 100%;
      padding: 0;
    }
  }

  ul.menu li a.active {
    color: #6cdcff;
  }
}

.top_left,
.top_right,
.search_block {
  @media screen and (max-width: $tab) {
    width: 100%;
  }
}

#site-title a,
#site-description {
  font-weight: normal;
}

#site-title,
#site-description {
  float: left;

  @media screen and (max-width: $tab) {
    margin: 0;
    line-height: 1.62em;
  }
}

#site-title {
  @include adjust-font-size-to(30px);
  margin: 1rem 0 0;
  font-weight: bold;

  @media screen and (max-width: $tab) {
    padding: 0;
    width: 100%;
    display: inline-block;
  }

  a {
    float: left;

    @media screen and (max-width: $tab) {
      width: 100%;
      text-align: center;
    }
  }
}

#site-description {
  @include responsive-typo-map($normal-text);
  margin: .4rem 0 0;
  float: left;
  clear: both;
  line-height: 100%;

  // customisations
  font-style: italic;
  color: $link;

  @media screen and (max-width: $tab) {
    padding-top: 1.8rem;
    padding-bottom: .5rem;
    width: 100%;
    text-align: center;
  }
}

#headerHero {
  @media screen and (max-width: $tab) {
    padding: .5rem 0 .5rem 10rem;
    min-height: 54px;
    background-color: $menu-background;
    position: relative;

    &.no-menu {
      .burger-toggle {
        display: none !important;
      }

      &.no-search {
        display: none;
      }
    }

    .region-search {
      input[type='text'],
      input[type='search'] {
        max-width: 100%;
        border: 0;
        margin: .5em 0;
        float: none;
        border-radius: 0;
        background: #fff;

        @supports (display: grid) {
          margin: 0;
        }
      }
    }
  }
}
