@import '../init';

.region-front-welcome {
  max-width: $max-grid-width;
  margin: 2% auto;
  text-align: center;

  @media screen and (max-width: $lap) {
    margin: 1% 2%;
  }

  @media screen and (max-width: $tab) {
    padding: 1rem;
  }

  @media screen and (max-width: $mob) {
    margin: 0;
  }

  .block h2 {
    text-align: center;
  }
}

