<div id="header_wrapper">
  <div id="inner_header_wrapper">
    <header id="header">
      <div class="top_left">
        <div class="kss-layout-block">The header region.</div>
      </div>
      <div id="headerHero" class="top_right with-menu with-search">
        <div class="kss-layout-block">The search region.</div>
        <button class="burger-toggle collapse" type="button" data-toggle="collapse" data-target=".main-menu">
          <span class="sr-only">Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="clear"></div>
    </header>
  </div>
  <div class="kss-layout-block">The primary menu region.</div>
</div>
<div id="top-area" class="clearfix">
  <div class="column kss-layout-block">The top_first region.</div>
  <div class="column kss-layout-block">The top_second region</div>
  <div class="column kss-layout-block">The top_third region</div>
</div>
<div id="container">
  <div class="container-wrap">
    <div class="content-sidebar-wrap">
      <div id="content">
        <div class="kss-layout-block">The breadcrumb region</div>
          <main id="post-content">
            <div class="kss-layout-block">The content region</div>
          </main>
      </div>
      <aside id="sidebar-first"><div class="kss-layout-block">The sidebar_first region</div></aside>
      <aside id="sidebar-second"><div class="kss-layout-block">The sidebar_second region</div></aside>
      <div id="bottom_wrapper" class="footer_block bottom_widget">
            <div id="bottom-area" class="clearfix">
              <div class="column kss-layout-block">The bottom_widget_1 region.</div>
              <div class="column kss-layout-block">The bottom_widget_2 region.</div>
              <div class="column kss-layout-block">The bottom_widget_3 region.</div>
            </div>
          </div>
    </div>
    </div>
  </div>

