@import '../init';

#top-area {
  clear: both;
  position: relative;
  max-width: $max-grid-width;
  margin: 0 auto;
  text-align: center;

  @media screen and (max-width: $lap) {
    padding: 0 1.5rem;
  }

  @media screen and (max-width: $tab) {
    padding: 0;
  }

  .block {
    margin: 0;
  }

  .column {
    float: left;
    width: 32.3%;
    margin: 0 .5rem;

    @media screen and (max-width: $lap) {
      width: 32%;
    }

    @media screen and (max-width: $tab) {
      float: none !important;
      width: auto !important;
      margin: 1rem;
    }

    &:last-child {
      float: right;
      margin-right: 0;

      @media screen and (max-width: $desk) {
        margin-right: 0;
      }
    }

    .content {
      padding: 1rem 0;
    }

    &:first-child {
      margin-left: 0;

      @media screen and (max-width: $tab) {
        margin: 1rem;
      }
    }
  }

  h2 {
    @include responsive-typo-map($h2-text);
    color: #555;
    padding: 1rem 0;
    margin: 0;
  }

  .column-title {
    color: #e0e0e0;
  }
}
