@import '../../init/index';

.board-members {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .views-row.board-card {
    padding: 0;
    display: flex;
    margin-bottom: 2%;
    flex-basis: 100%;

    @include breakpoint($phab) {
      flex-basis: 49%;
    }

    h2 {
      color: $link;
      @include adjust-font-size-to(21px);
      margin-top: 0;

      @include breakpoint($mob) {
        @include responsive-typo-map($h3-text);
        margin-top: 0;
      }
    }

    .board__image {
      max-width: 10rem;
    }

    .board__body {
      flex: auto;
    }

    .board-member--role {
      position: relative;
      padding-right: 2rem;

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        right: -.6rem;
        width: 3rem;
        height: 3rem;
        background-image: resolve('arrow_forward_link_blue.svg');
        background-position: center center;
        background-size: 2.4rem auto;
        background-repeat: no-repeat;
      }
    }

    a {
      display: flex;
      background: $grey-light;
      column-gap: 2rem;
      flex-basis: 100%;

      &:hover .board-member--role:after,
      &:focus .board-member--role:after {
        background-color: $charcoal;
        background-image: resolve('arrow_forward_white.svg');
      }
    }
  }
}

#content #block-views-block-board-members-board-members-block .board-members .views-row a,
#content #block-views-block-board-member-board-members-block .board-members .views-row a {
  padding: 1rem;
  margin: 0;
  border: none;

  &:hover,
  &:focus {
    border: none;
    background: #e4f0fa;
  }

  &:focus {
    outline: 2px solid $black;
    outline-offset: -2px;
  }
}
