<ul class="{{modifier_class}}">
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipiscing elit</li>
  <li>Nulla volutpat aliquam velit
    <ul class="{{modifier_class}}">
      <li>Phasellus iaculis neque</li>
      <li>Purus sodales ultricies
        <ul class="{{modifier_class}}">
          <li>Eu eam perfecto delicata molestiae, ex eos simul quodsi animal</li>
          <li>Ab animi at debitis ea exercitationem expedita facilis.
            <ul class="{{modifier_class}}">
              <li>Ei vel tantas aeterno maluisset.</li>
              <li>Possim rationibus signiferumque ut per.</li>
            </ul>
          </li>
          <li>Ac tristique libero volutpat at</li>
          <li>Facilisis in pretium nisl aliquet</li>
        </ul>
      </li>
      <li>Vestibulum laoreet porttitor sem</li>
      <li>Ac tristique libero vulutpat at</li>
    </ul>
  </li>
  <li>Faucibus porta lacus fringilla vel</li>
  <li>Aenean sit amet erat nunc</li>
  <li>Eget porttitor lorem</li>
</ul>
