.block {
  margin-bottom: 2%;

  @media screen and (max-width: $lap) {
    margin-bottom: 2%;
  }

  &:last-child {
    margin: 0;
  }

  & > h2 {
    @include responsive-typo-map($h1-text);
    margin: .5rem 0 1.5rem 0;
    padding: 1rem;
    overflow: hidden;
    text-align: left;

    @media screen and (max-width: $mob) {
      font-size: 1.8rem;
    }
  }
}
