@import '../../init/index';

.region-slideshow {
  max-width: $max-grid-width;
  margin: 0 auto;
  overflow: hidden;
}

.slick--view--slideshow {
  .slick__slider,
  .slick-slide,
  .slider_link {
    .slide__caption {
      @include adjust-font-size-to(20px);
      background: rgba(0, 0, 0, .85);
      margin: 0;
      right: 0;
      padding: 2%;
      color: $white;
      width: 355px;
      height: 100%;
      top: 0;
      left: auto;
      position: absolute;
      @media screen and (max-width: $tab) {
        @include adjust-font-size-to(16px);
      }

      a {
        text-decoration: none;
        background: none;
      }

      @media screen and (max-width: $lap) {
        background: #6a6a6a;
        opacity: 1;
      }

      @media screen and (max-width: $tab) {
        width: 100%;
        position: relative;
        padding: 2%;
      }

      h2,
      h3 {
        @media screen and (max-width: $lap) {
          @include adjust-font-size-to(18px);
          margin: 0;
        }
      }

      h2 {
        @include adjust-font-size-to(20px);
        padding: 1% 5% 1% 6%;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #414141;

        @media screen and (max-width: $tab) {
          @include adjust-font-size-to(16px);
        }
      }

      h3 {
        @media screen and (max-width: $tab) {
          margin: 5px 0;
        }
      }

      p,
      a {
        @include adjust-font-size-to(20px);
        display: block;
        padding: 0 6%;
        color: $white;
        text-decoration: underline;

        @media screen and (max-width: $lap) {
          @include adjust-font-size-to(16px);
        }

        @media screen and (max-width: $tab) {
          padding: 6px 6%;
        }
      }
    }

    &:hover {
      a {
        .slide__caption {
          text-decoration: underline;
          cursor: pointer;
        }

        img {
          filter: grayscale(100%);
        }
      }
    }

    a.slider_link {
      &:focus {
        border: 4px solid #0e6bb3;
        display: flex;
        position: relative;
        @media screen and (max-width: $tab) {
          flex-direction: column;
        }

        img {
          filter: grayscale(100%);
        }

        .slide__caption {
          text-decoration: underline;
        }
      }
    }
  }

  nav.slick__arrow {
    position: absolute;
    bottom: -31px;
    right: 10%;
    left: auto;
    width: unset;
    top: unset;

    @media screen and (min-width: $mob) {
      right: 15%;
    }

    @media screen and (min-width: $phab) {
      right: 20%;
    }

    @media screen and (min-width: $tab) {
      right: 30%;
    }

    .slick-arrow {
      border-radius: 0;

      &:hover,
      &:focus {
        outline: 3px solid #333;
        outline-offset: 0;
      }

      &:before {
        top: 1px;
        color: $black;
        font-size: 3.2rem;
      }
    }

    button {
      display: block;

      &.slick-prev,
      &.slick-next {
        padding-top: 1rem;

        &.slick-prev,
        &.slick-next {
          &:before {
            display: inline-block;
            opacity: .85;
          }

          &:focus {
            opacity: 1;
            top: 1px;

            &:before {
              color: #ff6d2c;
            }
          }
        }

        &.slick-prev {
          left: -54px;
        }

        &.slick-next {
          left: 10px;
        }
      }

      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
  }

  ul.slick-dots {
    bottom: -50px;

    li {
      margin: 0;
      vertical-align: bottom;

      &.slick-active button:focus {
        outline: none;
      }

      button {
        height: 4.2rem;
        width: 4.2rem;
        margin: 0;

        &:focus {
          outline: 3px solid #333;
          outline-offset: 0;
        }

        .slick-dot-icon::before {
          position: relative;
          left: -.5px
        }
      }

      button::before {
        font-size: 1rem;
        color: #919191;
        opacity: 1;
      }

      &.slick-active {
        button .slick-dot-icon::before {
          font-size: 12px;
          margin: 0;
        }
      }
    }
  }
}

.slick--view--slideshow .slick__slider ul.slick-dots li button {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
  position: unset !important;
  padding: 0 !important;

  &:focus,
  &:hover {
    outline: 3px solid #333;
    outline-offset: 0;
  }
}

button.slick-autoplay-toggle-button {
  background: none;
  bottom: -50px;
  right: auto;
  left: 10%;
  width: 42px;
  height: 42px;
  pointer-events: auto;
  border: 0;

  @media screen and (min-width: $mob) {
    left: 15%;
  }

  @media screen and (min-width: $phab) {
    left: 20%;
  }

  @media screen and (min-width: $tab) {
    left: 30%;
  }

  // To be removed after a Unity theme release 10.2.24.
  background: none !important;
  position: absolute !important;
  border: none !important;
  color: $black !important;
  box-shadow: none !important;
  font-weight: normal !important;
  text-shadow: none !important;
  border-radius: unset !important;
  padding: 0 !important;

  &:focus {
    color: #ff6d2c !important;
  }

  .slick-play-icon,
  .slick-pause-icon {

    &:hover,
    &:focus {
      &:before {
        outline: 3px solid #333;
        outline-offset: 0;
      }
    }

    &:before {
      font-size: 25px;
      display: block;
      height: 42px;
      width: 42px;
      padding: 1.2rem 1.1rem .85rem .85rem;
    }

  }
}
