@import '../../init/index';

#footer .column {
  .social-icons {
    margin-top: 2.4rem;

    ul {
      display: flex;
    }

    li {
      padding-right: .5rem;
      border-bottom: none;

      a {
        border-bottom: none;
        color: $text;
        margin: 0;
        padding: 0;

        &:hover,
        &:focus {
          outline: 0;
          background: none;

          i {
            background: $text;
            color: $footer-background;
          }
        }
      }
    }

    i {
      font-size: 2.4rem;
      border: 1px solid;
      padding: .5rem .9rem;
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
      line-height: 3rem;

      &.fa-linkedin {
        padding: .5rem .8rem;
      }

      &.fa-twitter {
        padding: .5rem .7rem;
      }
    }
  }
}

#footer #footer-area .column .social-icons li a {
  border-bottom: none;
  padding: 0;
  margin: 0;
}
